**=================================================================================================**

# Day one  , I / O

**=================================================================================================**

Python why ?
lose syntax/simple syntax:
    <br>
    very less {}(); limited keywords,all in
    lowercase,UPPERCASE:Constants
	better readability
Dynamic casting:
	no need to exclusively give data type
	give data datatype would be derrived from it
	type()
	types:int,float,bool,str,complex

In [ ]:
a=True
type(a)

bool

In [ ]:
I/O
read anything in input is  string :input()
Default mode of input in python? String
var=input("prompt")
prompt:output on screen to tell user what input needed

In [ ]:
name=input("Enter name:")
print("you are",name)

Enter name:amar
you are amar

In [ ]:
data=float(input("Enter data:"))
print("data:",data,"type is:",type(data))

Enter data:12
data: 12.0 type is: <class 'float'>

In [ ]:
data=bool(input("Enter data:"))
print("data:",data,"type is:",type(data))

Enter data:
data: False type is: <class 'bool'>

In [ ]:
#print('')/" " /''' ''' /""" """
#print(var)
#, is separator   var," message"
#, is separator   " message",var
'''
ads
adf
as
fa
sf
as
fas
f
awf
'''

In [ ]:
a=10
b=20
print(a)
print(b)

10
20

In [ ]:
print(a,b)

10 20

In [ ]:
"," adds a Space
sep="any symbol" then for that print seprator changes

In [ ]:
a=10
b=20
c=30
print(a,b,c)
print(a,b,c,sep="meri marzi....")
print(a,b,c)

10 20 30
10meri marzi....20meri marzi....30
10 20 30

In [ ]:
#print() #prints on new line
#if not needed end="\n" default
#end="symbol" then print ends with it
print("line 1",end=",")
print("line 2")
print("line 3")
print("line 4")

line 1,line 2
line 3
line 4

In [ ]:
a=10
b=20
#a is 10
print("a is",a)
#10 is a and b is 20
print(a,"is a and b is",b)
#a is 10 and 20 is b
print("a is",a,"and",b,"is b")

a is 10
10 is a and b is 20
a is 10 and 20 is b

In [ ]:
print("amar "+"panchal")

amar panchal

In [ ]:
print("amar"+10)

TypeError: can only concatenate str (not "int") to str

In [ ]:
#assign =
#assign rvlaue to lvalue  a=10
# give sapce to save 10 and this address is ref by an identifier
#example "home" identifier
'''
chained assignment
a=b=c=d=10


pair based assignment
a,b,c=10,"amar",True
'''

In [ ]:
a,b,c=10,"amar",True
print(a,b,c)

ValueError: not enough values to unpack (expected 3, got 2)

In [ ]:
a=10
b=20
print("start a:",a,"b:",b)
a,b=b,a
print("end a:",a,"b:",b)

start a: 10 b: 20
end a: 20 b: 10

In [ ]:
#on every change python gives new memory and old is sent to AGC
a=10
print("a is:",a,"at ref:",id(a))#memory ref
a=a+5
print("a is:",a,"at ref:",id(a))#memory ref
a=a-15
print("a is:",a,"at ref:",id(a))#memory ref

a is: 10 at ref: 10751144
a is: 15 at ref: 10751304
a is: 0 at ref: 10750824

In [ ]:
#on every same data it shares the memory
a=10
print("a is:",a,"at ref:",id(a))#memory ref
b=5+5
print("b is:",b,"at ref:",id(b))#memory ref
c=15-5
print("c is:",c,"at ref:",id(c))#memory ref

a is: 10 at ref: 10751144
b is: 10 at ref: 10751144
c is: 10 at ref: 10751144

In [ ]:
#no increment decrement operation a++ ++a
a=a+1
a+=1#this
#better control

In [ ]:
a+=0.01

In [ ]:
Arithmatic:
+,-,*,/,%(remainder)

//(int div/ floor)
**(power)

In [ ]:
5%30

5

In [ ]:
5/2

2.5

In [ ]:
5//2

2

In [ ]:
2**3

8

In [ ]:
49**0.5

7.0

In [ ]:
l-->r if all equal  **(3),   *,/,//,%(2)  +,-(1)
if different priorities then 1st higher then lower
in case of () start from inner most

=3+5*2-1
=3+10-1
=13-1
=12

(3-1)*(5+1)
2*6
12

In [ ]:
Relational and logical operators

<,<=,>,>=,!=,== :T/F

logical: combines 2 or more conditions
condition (logical) condition

and:when all needed
or: when anyone would do

In [ ]:
#bitwise operates on bits
gates and(&) or(|) x-or(^)
shifters >> <<
syntax:grammer of programming lang
shifts data by n bits to left or right

var=var<<n-----*2^n
var=var>>n-----/2^n
#double the number without using any arithmatic operators

In [ ]:
x=10
x>>1

5

In [ ]:
#wap to convert given inr to usd
'''
o/p:usd
process:inr/86
i/p:inr

step:
    read inr
    conver to usd inr/86
    print usd
'''

In [ ]:
  #read inr
  inr=float(input("Enter amount in INR:"))
  #conver to usd inr/86
  usd=inr/86
  #print usd
  print("usd is:",usd)

Enter amount in INR:120000
usd is: 1395.3488372093022

In [ ]:
#read inr, #conver to usd inr/86
usd=float(input("Enter amount in INR:"))/86
#print usd
print("usd is:",usd)

Enter amount in INR:120000
usd is: 1395.3488372093022

In [ ]:
#read inr, #conver to usd inr/86,#print usd
print("usd is:",float(input("Enter amount in INR:"))/86)

Enter amount in INR:120000
usd is: 1395.3488372093022

In [ ]:
#convert given time which is in H:M:S to seconds
'''
o/p:data in sec
process:H*60*60+M*60+S
i/p:read h,m,s
algo:
read h,m,s
total_seconds=H*60*60+M*60+S
display time in seconds
'''
h,m,s=map(int,input("Enter time in H:M:S").split(":"))
print("given data is H:",h,"M:",m,"S:",s)
total_seconds=h*3600+m*60+s
print("Total time in seconds:",total_seconds)

Enter time in H:M:S1:12:53
given data is H: 1 M: 12 S: 53
Total time in seconds: 4373

In [ ]:
#convert given time which in seconds to H:M:S
'''
o/p:data in H:M:S

process:4373//3600--1 4373%3600--->min_in_sec


i/p:read total_time in seconds
algo:
read time
convert
print time h:m:s
'''
total_time=int(input("Enter time in seconds:"))
h=total_time//3600
m=(total_time%3600)//60
s=(total_time%60)
print(h,":",m,":",s)

Enter time in seconds:4373
1 : 12 : 53

In [ ]:
#take 2 times in H:M:S from user
#add them to generate total time in H:M:S
'''
o/p:total of 2 times
process:
read 2 times,convert to seconds,add,convert to H:M:S
i/p:read 2 times in H:M:S"
'''
h1,m1,s1=map(int,input("Enter time 1 in H:M:S").split(":"))
h2,m2,s2=map(int,input("Enter time 2 in H:M:S").split(":"))
total_seconds1=h1*3600+m1*60+s1
total_seconds2=h2*3600+m2*60+s2
total_time=total_seconds1+total_seconds2
print("Total time in seconds:",total_time)

h=total_time//3600
m=(total_time%3600)//60
s=(total_time%60)
print(h,":",m,":",s)

Enter time 1 in H:M:S1:20:10
Enter time 2 in H:M:S1:52:55
Total time in seconds: 11585
3 : 13 : 5

In [ ]:
'''
conditional stmt

if
option:1
---generally within loop to print right data
if condition:
    #if block
    #if block
    #if block
#next stmt out of if

if-else
option:2
---generally at end of code to print right/wrong data
if condition:
    #if block
    #if block
else:
    #else block


if-elif-elif-else
options:2+
---generally to select one from range or on choice from many
if condition:
    #block 1
elif condition:
    #block 2
elif condition:
    #block 3
else:
    #default block
'''

In [ ]:
#+ve or -ve

'''
o/p: +ve or -ve
process: if no>0 +ve else -ve
i/p:read no
'''
no=int(input("Enter a number:"))
if no<0:
    print(no,"is -ve")
if no>0:
    print(no,"is +ve")

Enter a number:2
2 is +ve

In [ ]:
#+ve or -ve

'''
o/p: +ve or -ve
process: if no>0 +ve else -ve
i/p:read no
'''
no=int(input("Enter a number:"))
if no<0:
    print(no,"is -ve")
else:
    print(no,"is +ve")

In [ ]:
#+ve or -ve or zero

'''
o/p: +ve or -ve
process: if no>0 +ve else -ve
i/p:read no
'''
no=int(input("Enter a number:"))
if no<0:
    print(no,"is -ve")
elif no>0:
    print(no,"is +ve")
else:
    print(no,"is Zero")

Enter a number:0
0 is Zero

In [ ]:
Problem Definition:
Discount Calculation on Total Bill

Objective:
Write a program that calculates the total payable amount after applying discounts based on the total bill amount.

Discount Criteria:
If the bill amount is ₹1000 or more, apply a 10% discount.
If the bill amount is ₹2000 or more, apply a 15% discount.
If the bill amount is ₹5000 or more, apply a 20% discount.

Input:
A single integer or floating-point number representing the total bill amount before the discount.

Output:
The final amount to be paid after applying the appropriate discount.
Example Cases:

Input (Bill Amount ₹)	Discount Applied	Final Payable Amount ₹
800	     No Discount	800
1200	10% Off (₹120)	1080
2500	15% Off (₹375)	2125
6000	20% Off (₹1200)	4800
Constraints:
The bill amount should be a positive number.
The discount is not cumulative
 (only one discount rate applies based on the highest eligible category).

In [ ]:
'''
o/p amount to be paid after disscount
process : read bill amount then if >=1000 10% >=2000 15% >=5000 20%
i/p:amount of bill
'''
amount=float(input("Enter total bill amount:"))
disscount=0.0
if amount>=1000 and amount<2000:
    disscount=0.10
elif amount>=2000 and amount<5000:
    disscount=0.15
elif amount>=5000:
    disscount=0.20
print("Total amount:",amount,"Disscount of:",amount*disscount)
print("Total amount to be paid:",amount-(amount*disscount))

Enter total bill amount:1250
Total amount: 1250.0 Disscount of: 125.0
Total amount to be paid: 1125.0

In [ ]:
'''
o/p amount to be paid after disscount
process : read bill amount then if >=1000 10% >=2000 15% >=5000 20%
i/p:amount of bill
'''
amount=float(input("Enter total bill amount:"))
if amount>0:
    disscount=0.0
    if amount>=5000:
        disscount=0.20
    elif amount>=2000:
        disscount=0.15
    if amount>=1000:
        disscount=0.10
    print("Total amount:",amount,"Disscount of:",amount*disscount)
    print("Total amount to be paid:",amount-(amount*disscount))
else:
    print("Amount can not be -ve")

In [ ]:
Question: Determine Passing Class of Students Based on Percentage

Problem Statement:
Write a program that determines the passing class of students based on their percentage calculated from the total marks obtained out of 500.

Classification Criteria (Based on Percentage):
Below 50% → Fail
50% to 69% → Third Class
70% to 79% → Second Class
80% to 89% → First Class
90% and above → Distinction
Input:
An integer representing the total marks obtained by a student (out of 500).
Output:
A string indicating the passing class of the student.

Example Cases:
Input (Total Marks)	Percentage	Output (Passing Class)
200	40.00%	Fail
300	60.00%	Third Class
370	74.00%	Second Class
420	84.00%	First Class
480	96.00%	Distinction

In [ ]:
'''
o/p passing class with percentage
process:range
90% and above → Distinction
80% >= → First Class
70% >= Second Class
50% >= Third Class
else 50% → Fail
i/p:total--->percentage
'''
total=int(input("Enter total:"))
if total>500 or total<0:
    print("Wrong input")
else:
    percentage=total*100/500
    if percentage>=90:
        print(percentage,"→ Distinction")
    elif percentage>=80:
        print(percentage,"→ First Class")
    elif percentage>=70:
        print(percentage,"→ Second Class")
    elif percentage>=50:
        print(percentage,"→ Third Class")
    else:
        print(percentage,"→ Bhai tumse na ho pyee")

Enter total:421
84.2 → First Class

**=================================================================================================**

# Day two  ,  Loops

**=================================================================================================**

In [ ]:
loops in python:

while:
-more control and fast
-can have float based step
-no automation
where used:
	-Infinite loop---Games,menu driven,number breaking

for:
-slow due to sequence being used start-end---list generated and then iterates over it
-int based step
-complete automation
 (give sequence and will interate over it)
where used:
	-patterns
	-iterative codes
	-list/sequence based question(array)
	-string manipulation

In [ ]:
'''
#start
while condition:
    #loop block
    #loop block
    #loop block
    #loop block
    #step
#next statement out of loop
'''

In [ ]:
#1,2,3, ...10
#start
i=1
while i<=10:
    print(i,end=',')
    i+=1#step

1,2,3,4,5,6,7,8,9,10,

In [ ]:
#1,2,3, ...n
#start
n=int(input("Enter n:"))
i=1
while i<=n:
    print(i,end=',')
    i+=1#step

Enter n:10
1,2,3,4,5,6,7,8,9,

In [ ]:
#print up to n in either sides
#n=-3 0,-1,-2,-3
#n=3  0,1,2,3
#start
n=int(input("Enter n:"))
i=0
if n>0:# counter
    while i<=n:
        print(i,end=',')
        i+=1#step
else:
    while i>=n:
        print(i,end=',')
        i-=1#step

Enter n:3
0,1,2,3,

In [ ]:
#print n to -n where n given buy user
#n=2   -2 -1 0 1 2
n=int(input("Enter n:"))
i=-1*n
while i<=n:
    print(i,end=',')
    i+=1#step

Enter n:5
-5,-4,-3,-2,-1,0,1,2,3,4,5,

In [ ]:
#menu driven:
#tea is 10 RS. coffee 40Rs. water 20Rs.
#when user exits show total sale for the day
#distribution w.r.t
# tea    10 each total sold X total amount 10*X
# coffee 40 each total sold X total amount 40*X
# water  20 each total sold X total amount 20*X
while True:
    print("----------")
    print("---Menu---")
    print("----------")
    print("1.Tea")
    print("2.Coffee")
    print("3.Water")
    print("0.Exit")
    print("choice:")
    choice=int(input(":"))
    if choice==0:
        print("Exiting system........")
        break
    elif choice==1:
        print("Tea selected...")
    elif choice==2:
        print("Coffee selected...")
    elif choice==3:
        print("Water selected...")
    else:
        print("wrong option selected")

----------
---Menu---
----------
1.Tea
2.Coffee
3.Water
0.Exit
choice:
:1
Tea selected...
----------
---Menu---
----------
1.Tea
2.Coffee
3.Water
0.Exit
choice:
:2
Coffee selected...
----------
---Menu---
----------
1.Tea
2.Coffee
3.Water
0.Exit
choice:
:3
Water selected...
----------
---Menu---
----------
1.Tea
2.Coffee
3.Water
0.Exit
choice:
:9
wrong option selected
----------
---Menu---
----------
1.Tea
2.Coffee
3.Water
0.Exit
choice:
:0
Exiting system........

In [ ]:
tea_price = 10
coffee_price = 40
water_price = 20

tea_count = 0
coffee_count = 0
water_count = 0

while True:
    print("\n----------")
    print("   MENU   ")
    print("----------")
    print("1. Tea (₹10)")
    print("2. Coffee (₹40)")
    print("3. Water (₹20)")
    print("0. Exit & Show Sales Report")
    choice = int(input("Enter your choice: "))

    if choice == 0:
        print("\nExiting system... Generating Sales Report...\n")
        break
    elif choice == 1:
        tea_count += 1
        print("Tea selected. ₹10 added to total sales.")
    elif choice == 2:
        coffee_count += 1
        print("Coffee selected. ₹40 added to total sales.")
    elif choice == 3:
        water_count += 1
        print("Water selected. ₹20 added to total sales.")
    else:
        print("Wrong option selected. Please try again.")

total_sales = (tea_count * tea_price) + (coffee_count * coffee_price) + (water_count * water_price)

print("\n================ Sales Report ================")
print("Tea    -", tea_count, "sold, Total: ₹", tea_count * tea_price)
print("Coffee -", coffee_count, "sold, Total: ₹", coffee_count * coffee_price)
print("Water  -", water_count, "sold, Total: ₹", water_count * water_price)
print("-----------------------------------------------")
print("Total Sales for the Day: ₹", total_sales)
print("===============================================")

In [ ]:
#infinite loop :ends when we get situation
#do not stop till -ve value given
while True:
    data=float(input("Enter value:"))
    if data<0:
        print("Stopping")
        break

Enter value:3
Enter value:1
Enter value:6
Enter value:3
Enter value:88
Enter value:3.4
Enter value:6.7
Enter value:2.3
Enter value:2.1
Enter value:0
Enter value:-9
Stopping

In [ ]:
#set cost as per user
#allow friend to guess the cost and stop only when right cost selected
#at end print right guess was in how many turns
#at each guess show help  if guess<cost print more than this else print Less than this
cost=float(input("Enter cost:"))
count=0
while True:
    count+=1
    data=float(input("Guess the value:"))
    if data==cost:
        print("right after",count,"turns")
        break
    else:
        print("no....")
        if data<cost:
            print("more than this")
        else:
            print("less than this")

Enter cost:100
Guess the value:110
no....
less than this
Guess the value:90
no....
more than this
Guess the value:105
no....
less than this
Guess the value:95
no....
more than this
Guess the value:100
right after 5 turns

In [ ]:
'''
end is where it will stop
so execution is from 1 to end-1
for counter +1 for countdown -1:end
for <var> in range(start,end,step):
    #loop block
'''
for i in range(1,6,1):
    print(i,end=",")
print()
for i in range(5,0,-1):
    print(i,end=",")
print()
for i in range(1,6,0.5):
    print(i,end=",")

1,2,3,4,5,
5,4,3,2,1,

TypeError: 'float' object cannot be interpreted as an integer

In [ ]:
for i in [11,22,33,44,55,66,77]:
    print(i)

11
22
33
44
55
66
77

In [ ]:
for char in "ABCDEFGHI":
    print(char)

A
B
C
D
E
F
G
H
I

In [ ]:
#default values: start 0 ,step :+1
for i in range(11,0,-1):
    print(i)

11
10
9
8
7
6
5
4
3
2
1

In [ ]:
#implement start to end print using for
#start:2 end:5 2,3,4,5
#start:2 end:-2 2,1,0,-1,-2
start,end=map(int,input("Enter start and end:").split())
if start<end:
    step=1
    end+=1
else:
    step=-1
    end-=1
for i in range(start,end,step):
    print(i,end=",")

Enter start and end:2 -4
2,1,0,-1,-2,-3,-4,

In [ ]:
for i in range(1,4):
    for j in range(1,4):
        print("i:",i," j=",j)

i: 1  j= 1
i: 1  j= 2
i: 1  j= 3
i: 2  j= 1
i: 2  j= 2
i: 2  j= 3
i: 3  j= 1
i: 3  j= 2
i: 3  j= 3

In [ ]:
k=1
for i in range(1,6):#lines
    for j in range(1,i+1):#data at each line
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
k=1
for i in range(1,6):#lines
    for j in range(1,i+1):#data at each line
        print(k,end=" ")
        k+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
'''
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1
'''

for i in range(5,0,-1):#lines
    for j in range(1,i+1):#data at each line
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
'''
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1
'''
for i in range(5,0,-1):#lines
    for j in range(1,i+1):#data at each line
        print(i,end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
'''
1 0 1 0 1
1 0 1 0
1 0 1
1 0
1
'''
for i in range(5,0,-1):#lines
    for j in range(1,i+1):#data at each line
        print(j%2,end=" ")
    print()

1 0 1 0 1
1 0 1 0
1 0 1
1 0
1

'\n1 1 1 1 1 \n0 0 0 0\n1 1 1 \n0 0 \n1\n'

In [ ]:
'''
1 1 1 1 1
0 0 0 0
1 1 1
0 0
1
'''
for i in range(5,0,-1):#lines
    for j in range(1,i+1):#data at each line
        print(i%2,end=" ")
    print()

1 1 1 1 1
0 0 0 0
1 1 1
0 0
1

In [ ]:
'''
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5
'''
k=1
for i in range(5,0,-1):#lines
    for j in range(1,i+1):#data at each line
        print(k,end=" ")
    k+=1
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
'''
5
4 4
3 3 3
4 4 4 4
5 5 5 5 5
'''
k=5
for i in range(1,6):#lines
    for j in range(1,i+1):#data at each line
        print(k,end=" ")
    k-=1
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [ ]:
#prime no :
'''
o/p:yes or no
process : no/ 2 to no-1 should not be perfectly div %--->0 means perfectly div
i/p:no
'''
no=int(input("Enter no:"))
flag=True
for i in range(2,no):
	if no%i==0:
		flag=False
		break
if flag==True:
	print("yes prime")
else:
	print("not prime")

Enter no:12
not prime

In [ ]:
for no in range(1,101):
    flag=True
    for i in range(2,no):
        if no%i==0:
            flag=False
            break
    if flag:#flag==True
        print(no,"is prime")

1 is prime
2 is prime
3 is prime
5 is prime
7 is prime
11 is prime
13 is prime
17 is prime
19 is prime
23 is prime
29 is prime
31 is prime
37 is prime
41 is prime
43 is prime
47 is prime
53 is prime
59 is prime
61 is prime
67 is prime
71 is prime
73 is prime
79 is prime
83 is prime
89 is prime
97 is prime

In [ ]:
#print all numbers from 1 to 100 perfectly div by 3 and 5
for i in range(1,101):
    if i%3==0 and i%5==0:
        print(i)

15
30
45
60
75
90

In [ ]:
'''print
1 + 9 = 10
2 + 8 = 10
3 + 7 = 10
4 + 6 = 10
5 + 5 = 10
6 + 4 = 10
7 + 3 = 10
8 + 2 = 10
9 + 1 = 10

for i in range(1,11):
    print(i,"+",10-i,"=",(i+(10-i)))
'''
for i,j in zip(range(1,11),range(9,0,-1)):
    print(i,"+",j,"=",(i+j))

1 + 9 = 10
2 + 8 = 10
3 + 7 = 10
4 + 6 = 10
5 + 5 = 10
6 + 4 = 10
7 + 3 = 10
8 + 2 = 10
9 + 1 = 10

In [ ]:
for i in range(1,6):
    if i==3:
        continue#when executed it will start next pass
    print(i,end=",")

1,2,4,5,

In [ ]:
for i in range(1,6):
    if i==3:
        break#when executed it will stop loop
    print(i,end=",")

1,2,

In [ ]:
#accept a number from user and check it is in range of prime number or not

In [ ]:
'''
number div based
123

123%10:3 mod return last digit

123//10:12 // int div removes last digit
3
2
1

In [ ]:
#find sum of all digits of a given number
#i/p:123  o/p:6
sum=0
no=int(input("Enter a number:"))
while no>0:
    digit=no%10
    no=no//10
    print(no,digit)
    sum+=digit
print(sum)

Enter a number:1234
123 4
12 3
1 2
0 1
10

In [ ]:
sum=0
no=input("Enter a number:")
for digit in no:
    sum+=int(digit)
print(sum)

Enter a number:1234
10

In [ ]:
#armstrong:True/False
#153--->1^3+5^3+3^3-->1+125+27=153
no=input("Enter a number:")
sum=0
for digit in no:
    sum+=int(digit)**3
print(no,"is armstrong:",sum==int(no))

Enter a number:121
121 is armstrong: False

In [ ]:
no="123456"
sum=0
for digit in no:
    sum+=int(digit)
    print(digit,type(digit),sum)

1 <class 'str'> 1
2 <class 'str'> 3
3 <class 'str'> 6
4 <class 'str'> 10
5 <class 'str'> 15
6 <class 'str'> 21

In [ ]:
10--->str(10)-->"10"

In [ ]:
i=1234
print(i,type(i))
for digit in i:
    print(digit)
j=str(i)
print(j,type(j))
for digit in j:
    print(digit)

1234 <class 'int'>

TypeError: 'int' object is not iterable

In [ ]:
#print all armstrong number between 100 to 1000
'''
op:armstrong only
process:100---break---check---if armstrong print
        101---str()---break---check
'''
for no in range(100,1001):
    sum=0
    for digit in str(no):
        sum+=int(digit)**3
    if sum==no:
        print(no)

153
370
371
407

In [ ]:
for i in range(1,6):
    if i==4:
        break
    print(i)
else:
    print("normal end")

1
2
3

In [ ]:
no=int(input("Enter no:"))
for i in range(2,no):
    if no%i==0:
        print("not prime")
        break
else:
    print("yes prime")
'''
loop--else:
for i in range():
	#code
else:
	#code to run if loop ends normally
	'''

Enter no:8
not prime

**=================================================================================================**

# Day three  , data strucutres
### ---------------- >  list  ,  tuple  ,  set  ,  dictionary

**=================================================================================================**

In [ ]:
data structure:
way of storing data such that accessing and updating data becomes easy and fast as per application

types:
all are hetrogeneous in nature
1-list []/list()
    -dynamic in nature
    -insertion order maintained and accessesd by index(0 to len-1)
    -can handle duplicates
    used for:
             any problem with array concept,list
             max used by user

2-tuple ()/tuple()
    -static in nature
    -insertion order maintained and accessesd by index(0 to len-1)
    -can handle duplicates
    used for:
             max used by python internally for security
             as immutable

3-set {0}/set()
    -dynamic in nature
    -custome order maintained so no direct access on index
    -can not handle duplicates(hence used in filteration)
    used for:
             used in filteration or in set operation
             (union,intersection,symmetric difference,difference)

4-dict {}/dict():
    -dynamic in nature
    -key order maintained and accessesd by key value
    -can handle duplicates data but not key
    used for:
             used in mapping key to bunch of data
            seat no: student record
             emp_id: record

In [ ]:
data=
print(type(data))

<class 'set'>

In [ ]:
data=[]

In [ ]:
data=[11,2.3,"amar",True]

In [ ]:
can be indexed accessed / auto-iterated access

In [ ]:
#auto-iterated access
for item in data:
    print(item,type(item))

11 <class 'int'>
2.3 <class 'float'>
amar <class 'str'>
True <class 'bool'>

In [ ]:
#indexed accessed
for index in range(len(data)):
    print("@[",index,"] we have:",data[index])

@[ 0 ] we have: 11
@[ 1 ] we have: 2.3
@[ 2 ] we have: amar
@[ 3 ] we have: True

In [ ]:
#index can be +ve:start(0) to end(len()-1)
#             -ve:end(-1) to start(-len())
      0  1  2   3 :+ve index
data=[10,20,30,40]
      -4 -3 -2 -1 :-ve index

In [ ]:
#list+list--appends
data1=[11,22,33]
data2=[1,2,3]
data3=data2+data1
print(data3)
#list*number(int)--repeates list n times
#if list*-ve >>>>>  []
print(data1)
print(data1)

[1, 2, 3, 11, 22, 33]
[11, 22, 33]
[]

In [ ]:
print(data1,data2)

[11, 22, 33] [1, 2, 3]

In [ ]:
list2d=[[10,20],[30,40,50],[60,70,80,90]]
for row in list2d:
    print(row)

[10, 20]
[30, 40, 50]
[60, 70, 80, 90]

In [ ]:
list2d=[[10,20],[30,40,50],[60,70,80,90]]
for row in list2d:
    print(row)
    for element in row:
        print(element)

In [ ]:
print(list2d[-2][1],"is at -2,1")

40 is at -2,1

In [ ]:
#built in
len():returns number of elements
sum():total iff number type
min():singular type of comparissions
max():

In [ ]:
data_list=[55,11,66,22,88,33]
len(data_list)
sum(data_list)
min(data_list)
max(data_list)

88

In [ ]:
sl=sorted(data_list)#returns sorted list but will not change original

In [ ]:
data_list

[55, 11, 66, 22, 88, 33]

In [ ]:
sl

[11, 22, 33, 55, 66, 88]

In [ ]:
#slice [start:end:step] default start:0 end:len() step:1
d_list=[1,2,3,4,5,6,7,8,9,10]
#print(d_list[])#error as no index
print(d_list[:])#all data
print(d_list[::-1])
print(d_list)
print(d_list[:4])
print(d_list[4:])
print(d_list[::2])
print(d_list[1::2])
print(d_list[::-2])
print(d_list[4::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4]
[5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]
[10, 8, 6, 4, 2]
[5, 4, 3, 2, 1]

In [ ]:
d_list=[1,2,3,4,5,6,7,8,9,10]
print(100 in d_list)
#in True if there else False
#not in True if not there else False

False

In [ ]:
list=["amar","ajay","vijay"]

In [ ]:
sorted(list)[-2]

'amar'

In [ ]:
names=[["amar","ajay"],[11,22,44],[True,False]]
(names[0][1])[1]

'j'

In [ ]:
d=[4,1,7,8,2,3]
print("sorted:",sorted(d))
print("after",d)
d.sort()
print("after ,sort()",d)

sorted: [1, 2, 3, 4, 7, 8]
after [4, 1, 7, 8, 2, 3]
after ,sort() [1, 2, 3, 4, 7, 8]

In [ ]:
data=[]

![image.png]()

In [ ]:
data=[]

In [ ]:
data.append(int(input("Enter data:")))

Enter data:45

In [ ]:
data.append([11,22,33])

In [ ]:
data.extend([100,200,300])

In [ ]:
print(data,len(data))

[1000, 132, 45, [11, 22, 33], 100, 200, 10000, 300] 8

In [ ]:
data.insert(0,1000)

In [ ]:
data.insert(1000,"the end")
#if index if out or range then insert left/right will take place
print(data)

[1000, 132, 45, [11, 22, 33], 100, 200, 10000, 'last', 'final', 300, 'the end']

![image.png]()

In [ ]:
data

[1000, 132, 45, [11, 22, 33], 100, 200, 10000, 'last', 'final', 300, 'the end']

In [ ]:
data.remove(300)

In [ ]:
data

[1000, 132, 45, [11, 22, 33], 100, 200, 10000, 'last', 'final', 'the end']

In [ ]:
data.pop(0)

1000

In [ ]:
data

[132, 45, [11, 22, 33], 100, 200]

In [ ]:
data.pop()#default last removed

10000

In [ ]:
data.remove()#error on no data

TypeError: list.remove() takes exactly one argument (0 given)

In [ ]:
data.remove(420)#error on no data found

ValueError: list.remove(x): x not in list

In [ ]:
data=[1,2,1,3,1,4]
data.remove(1)#in case of duplicate 1st
print(data)

[2, 1, 3, 1, 4]

In [ ]:
print(data)
data.clear()
print(data)

[2, 1, 3, 1, 4]
[]

![image.png]()

In [ ]:
data=[1,2,1,3,1,4]
#print(data.index(3))
#print(data.index(33))
print("121 is repeated:",data.count(121))

1 is repeated: 0

In [ ]:
#deep copy
data=[1,2,3,4]
data2=data#not a deep copy
print(data,":",id(data))
print(data2,":",id(data2))
data2[0]=data2[0]*1000
print(data,":",id(data))
print(data2,":",id(data2))
data3=data.copy()#deep copy
print(data,":",id(data))
print(data3,":",id(data3))
data3[0]=data3[0]*1000
print(data,":",id(data))
print(data3,":",id(data3))

[1, 2, 3, 4] : 134855476092672
[1, 2, 3, 4] : 134855476092672
[1000, 2, 3, 4] : 134855476092672
[1000, 2, 3, 4] : 134855476092672
[1000, 2, 3, 4] : 134855476092672
[1000, 2, 3, 4] : 134855468550208
[1000, 2, 3, 4] : 134855476092672
[1000000, 2, 3, 4] : 134855468550208

In [ ]:
d1=[1,2,3]
d2=[1,2,3]
print(id(d1),id(d2))

134855468408192 134855899897280

In [ ]:
d1.append(100)
d2.append(1001)
print(id(d1),id(d2))

134855468408192 134855899897280

In [ ]:
#keep adding dta to list till user gives first blank
#o/p list with data
#process:within loop .append(input())
           # if blank break
#input:blank list
data_list=[]
while True:
    data=input("enter data:")
    if data=="":
        break
    data_list.append(float(data))
print("Total data:",len(data_list),data_list)

enter data:
Total data: 0 []

In [ ]:
#keep adding dta to list till user gives first blank then show max(),min() and average
#o/p list with data
#process:within loop .append(input())
           # if blank break
#input:blank list
data_list=[]
while True:
    data=input("enter data:")
    if data=="":
        break
    data_list.append(float(data))
print("Total data:",len(data_list),data_list)
print("Max:",max(data_list),"Min:",min(data_list),"Average:",sum(data_list)/len(data_list))

enter data:
Total data: 0 []

ValueError: max() arg is an empty sequence

In [ ]:
#keep adding dta to list till user gives first blank then show max(),min() and average
#print all elements greater than the average
#o/p list with data
#process:within loop .append(input())
           # if blank break
#input:blank list
data_list=[]
while True:
    data=input("enter data:")
    if data=="":
        break
    data_list.append(float(data))
avg=sum(data_list)/len(data_list)
print("Total data:",len(data_list),data_list)
print("Max:",max(data_list),"Min:",min(data_list),"Average:",avg)
for item in data_list:
    if item>avg:
        print(item)

enter data:33
enter data:11
enter data:99
enter data:77
enter data:22
enter data:44
enter data:89
enter data:79
enter data:
Total data: 8 [33.0, 11.0, 99.0, 77.0, 22.0, 44.0, 89.0, 79.0]
Max: 99.0 Min: 11.0 Average: 56.75
99.0
77.0
89.0
79.0

In [ ]:
#rotation of list:
#[11,22,33,44,55]:rotate clockwise as per given cycles
#cycle for :3  [22,33,44,55,11] [33,44,55,11,22] [44,55,11,22,33]
data=[11,22,33,44,55]
cycles=int(input("Enter cycles to rotate for:"))
while cycles>0:
    temp=data.pop(0)
    data.append(temp)
    print(data)
    cycles-=1

Enter cycles to rotate for:5
[22, 33, 44, 55, 11]
[33, 44, 55, 11, 22]
[44, 55, 11, 22, 33]
[55, 11, 22, 33, 44]
[11, 22, 33, 44, 55]

In [ ]:
#rotation of list:
#[11,22,33,44,55]:rotate clockwise as per given cycles
#cycle for :3  [22,33,44,55,11] [33,44,55,11,22] [44,55,11,22,33]
data=[11,22,33,44,55]
cycles=int(input("Enter cycles to rotate for:"))
while cycles>0:
    data.append(data.pop(0))
    print(data)
    cycles-=1
data=[11,22,33,44,55]
print("Anti-clockwise")
cycles=int(input("Enter cycles to rotate for:"))
while cycles>0:
    data.insert(0,data.pop())
    print(data)
    cycles-=1

Enter cycles to rotate for:5
[22, 33, 44, 55, 11]
[33, 44, 55, 11, 22]
[44, 55, 11, 22, 33]
[55, 11, 22, 33, 44]
[11, 22, 33, 44, 55]
Anti-clockwise
Enter cycles to rotate for:5
[55, 11, 22, 33, 44]
[44, 55, 11, 22, 33]
[33, 44, 55, 11, 22]
[22, 33, 44, 55, 11]
[11, 22, 33, 44, 55]

In [ ]:
#rotation of list:
#[11,22,33,44,55]:rotate clockwise as per given cycles
#cycle for :3  [22,33,44,55,11] [33,44,55,11,22] [44,55,11,22,33]
data=[11,22,33,44,55]
cycles=int(input("Enter cycles to rotate for:"))
for _ in range(cycles):
    data.append(data.pop(0))
    print(data)

Enter cycles to rotate for:5
[22, 33, 44, 55, 11]
[33, 44, 55, 11, 22]
[44, 55, 11, 22, 33]
[55, 11, 22, 33, 44]
[11, 22, 33, 44, 55]

In [ ]:
#given 3 lists combine them in sorted manner
#with minimum code
l1=[4,1,8,2]
l2=[9,7]
l3=[11,5,10]
print(sorted(l1+l2+l3))

[1, 2, 4, 5, 7, 8, 9, 10, 11]

Tuple

![image.png]()

In [ ]:
data=(11,2.2,"amar",True)
id(data)

134855471228672

In [ ]:
data=(22,44,77)
print(id(data))

134855469526336

In [ ]:
data=(10,20,[11,22])
#what is list inside tuple: dynamic/static
    #dynamic
data[2].append(1000)
print(data)

(10, 20, [11, 22, 1000])

In [ ]:
print(data,type(data))

() <class 'tuple'>

Dict



![image.png]()

In [ ]:
union: symbol | a|b={1,2,3,4,5,6}
intersection: symbol & a&b={3,4}
symmetric difference: symbol ^ a^b={1,2,5,6}
difference:symbol -   a-b={1,2}      b-a={5,6}

In [ ]:
all={1,2,3,4,5,6,7,8,9,10}
dance={2,5,8,9}
sing={2,6,7,10}

In [ ]:
#who all are not doing anything
all-dance-sing
#who are in all
dance & sing
#only dance or only sing
dance-sing
sing-dance

{6, 7, 10}

In [ ]:
#3.7 onwards set are ordered in python
s={22,11,55,33,11,77,88,22,11,33}
print(s)

{33, 22, 55, 88, 11, 77}

In [ ]:
s.add(35)

In [ ]:
s

{11, 22, 33, 35, 55, 77, 88}

In [ ]:
print(s)

{33, 35, 22, 55, 88, 11, 77}

In [ ]:
s[3]

TypeError: 'set' object is not subscriptable

In [ ]:
for item in sorted(s):
    print(item)

11
22
33
35
55
77
88

SET

![image.png]()

In [ ]:
s={10,5,15,30,25}
print(s)
#s.remove(25)
s.discard(25)
print(s)
#s.remove(25)
s.discard(25)

{5, 25, 10, 30, 15}
{5, 10, 30, 15}

In [ ]:
data_list=[11,22,11,33,11,44,11,33,22,55,66,22]
#unique elements in sorted manner
print(sorted(set(data_list)))

[11, 22, 33, 44, 55, 66]

In [ ]:
#given list of numbers print in sorted manner of data
#element:count
data_list=[11,22,11,33,11,44,11,33,22,55,66,22]
for element in sorted(set(data_list)):
    print(element,":",data_list.count(element))
#11:4
#22:3
#33:2

11 : 4
22 : 3
33 : 2
44 : 1
55 : 1
66 : 1

In [ ]:
#dict:map
d={1:"one",2:"two",3:"three",1.5:"dedh shana"}

print(d)
print(d.keys())
for key in d.keys():
    print("@",key,"we have",d[key])
print("-------------------------------")
for key in sorted(d.keys()):
    print("@",key,"we have",d[key])
print("-------------------------------")
for key,value in d.items():
    print("@",key,"we have",value)

{1: 'one', 2: 'two', 3: 'three', 1.5: 'dedh shana'}
dict_keys([1, 2, 3, 1.5])
@ 1 we have one
@ 2 we have two
@ 3 we have three
@ 1.5 we have dedh shana
-------------------------------
@ 1 we have one
@ 1.5 we have dedh shana
@ 2 we have two
@ 3 we have three
-------------------------------
@ 1 we have one
@ 2 we have two
@ 3 we have three
@ 1.5 we have dedh shana

In [ ]:
contact={}

In [ ]:
contact[int(input("Enter number"))]=input("Enter name:")

Enter name:xena
Enter number99887766

In [ ]:
print(contact)

{9821601163: 'amar', 99887766: 'xena'}

In [ ]:
print(contact[int(input("calling from......:"))])

calling from......:9821601163
amar

In [ ]:
9821601160 in contact#in to check key uniqueness

False

![image.png]()

![image.png]()

In [ ]:
Question:
Write a Python program that takes an integer as input and prints the number in words.
For example, if the input is 123, the output should be "one two three".

In [ ]:
num_to_word = {
    0: "zero", 1: "one", 2: "two", 3: "three", 4: "four",
    5: "five", 6: "six", 7: "seven", 8: "eight", 9: "nine"
}
no=input("Enter a number:")
for digit in no:
    print(num_to_word[int(digit)],end=" ")

Enter a number:96537
nine six five three seven

In [ ]:
#given list of numbers print in sorted manner of data
#element:count using a dict
#{11:4,22:3.....}
data_list=[11,22,11,33,11,44,11,33,22,55,66,22]
d={}
for element in sorted(set(data_list)):
    d[element]=data_list.count(element)
print(d)

{11: 4, 22: 3, 33: 2, 44: 1, 55: 1, 66: 1}

**=================================================================================================**

# Day four ,  String / Functions

**=================================================================================================**

In [ ]:
String in immutable in pyhton
means all changes are done by generating new string not on current
s=''
s=" "
s=''' '''
s=""" """

In [ ]:
+ used to concate

In [ ]:
* n makes string repeat n times

In [ ]:
"god "*5

'god god god god god '

In [ ]:
X
XX
XXX
XXXX
XXXXX

In [ ]:
for i in range(1,6):
    print("X"*i)

X
XX
XXX
XXXX
XXXXX

In [ ]:
XXXXX
XXXX
XXX
XX
X

In [ ]:
for i in range(5,0,-1):
    print("X"*i)

XXXXX
XXXX
XXX
XX
X

In [ ]:
for i in range(1,6):
    print(" "*(6-i),"X "*i)

      X
     X X
    X X X
   X X X X
  X X X X X

In [ ]:
#create center triangle of n where n given by user
#n=10 10 lines
n=int(input("Enter n"))
for i in range(1,n+1):
    print(" "*(n-i),"X "*i)

Enter n5
     X
    X X
   X X X
  X X X X
 X X X X X

In [ ]:
s="abcdefghijkl"
print(s[2:5])

cde

In [ ]:
s="amar"
s[::-1]

'rama'

In [ ]:
#in minimum line of code check palindrome or not
#read,reverse,compare
word=input("Enter word:")
print(word,"is palindrome",word==word[::-1])

Enter word:amar
amar is palindrome False

In [ ]:
#create word triangle
"python"
'''
p
py
.
.
.
python'''
word=input("Enter word:")
for i in range(1,len(word)+1):
    print(word[:i])

Enter word:program
p
pr
pro
prog
progr
progra
program

In [ ]:
"amar" in "amaradra bahubali"

True

In [ ]:
s="python"
s_list=list(s)
print(s_list)

['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
for character in "this is test":
    print(character)

t
h
i
s

i
s

t
e
s
t

In [ ]:
#count vowels(a,e,i,o,u) in given line of string
line="this is a test line for you all"
#.count()
c=input("Enter character to search:")
print(line.lower().count(c))

Enter character to search:a
2

In [ ]:
#count user given character from line
line="this is a test line for you all"
#.count()
count=0
for c in "aeiou":
    count+=line.count(c)
    print(c,line.count(c))
print(count)

Here are the string methods to change cases in Python:

upper() – Converts all characters to uppercase.

lower() – Converts all characters to lowercase.

title() – Converts the first letter of each word to uppercase.

capitalize() – Converts the first letter of the string to uppercase and the rest to lowercase.

swapcase() – Swaps uppercase characters to lowercase and vice versa.

count()- Return total count for given character/string

Here are the explanations for the string methods in Python:

count(substring) – Returns the number of occurrences of substring in the string.

find(substring) – Returns the lowest index of substring if found; otherwise, returns -1.

rfind(substring) – Returns the highest index of substring if found; otherwise, returns -1.

index(substring) – Returns the lowest index of substring if found; raises a ValueError if not found.

rindex(substring) – Returns the highest index of substring if found; raises a ValueError if not found.

In [ ]:
s="thIs IS so MUch fUN"
print(s.capitalize())
print(s.title())
print(s.swapcase())
print(s.lower().count('i'))

This is so much fun
This Is So Much Fun
THiS is SO muCH Fun
2

In [ ]:
s="imagination"
s.find('i')

0

In [ ]:
.replace("old","new")

In [ ]:
line="he came by taxi"
line.replace("taxi","cab")

'he came by cab'

In [ ]:
line="this is done by him"
#convert to past
line=line.replace(" is"," was")
print(line)

this was done by him

In [ ]:
.split():breaks string in tokens and store in list
default is blank space

In [ ]:
line="this is example for the code"
word_list=line.split()
print(word_list)

['this', 'is', 'example', 'for', 'the', 'code']

In [ ]:
line.count("is")

2

In [ ]:
word_list.count("is")

1

In [ ]:
#reverse line by words:
line ="this is example i have"
o/p="have i example is this"
process: break in words,reverse list ,reconstruct line
          .split()         [::-1]         for

In [ ]:
line ="this is example i have"
word_list=line.split()
rline=""
for word in word_list[::-1]:
    print(word,end=" ")
    rline=rline+" "+word
print("\nreverse:",rline)

have i example is this
reverse:  have i example is this

In [ ]:
data="                            Python is a powerful programming language. Python is widely used in web development, data science, and automation. Many developers prefer Python because of its simplicity and readability.                    The Python community is growing rapidly, and more people are learning Python every day. Python’s versatility makes                 it a great choice for beginners and professionals alike."
#write a code to 1.count number of words
print(len(data.split()))
#print total unique words in para
print(len(set(data.split())))
for word in sorted(set(data.split())):
    print(word)

53
43
Many
Python
Python’s
The
a
alike.
and
are
automation.
because
beginners
choice
community
data
day.
developers
development,
every
for
great
growing
in
is
it
its
language.
learning
makes
more
of
people
powerful
prefer
professionals
programming
rapidly,
readability.
science,
simplicity
used
versatility
web
widely

In [ ]:
data="Data is important. Data helps in decision-making. Big data is widely used in data science. The more data we have, the better our data analysis. Good data leads to good insights. Without data, decision-making is difficult. Companies collect data, store data, and analyze data. Data-driven decisions are based on data patterns. In today's world, data is the key to success. The importance of data cannot be ignored, as data plays a crucial role in every field. Understanding data and managing data efficiently is essential for growth. Data, data, and more data—everything revolves around data!"

In [ ]:
#print count of each word
'''
word list----unique word list---cout unique word ---in list
.split()      set()                .count()
'''
data="Data is important Data helps in decision making Big data is widely used in data science The more data we have the better our data analysis Good data leads to good insights Without data decision making is difficult Companies collect data store data and analyze data Data driven decisions are based on data patterns In todays world data is the key to success The importance of data cannot be ignored as data plays a crucial role in every field Understanding data and managing data efficiently is essential for growth Data data and more data everything revolves around data"
word_list=data.split()
for word in sorted(set(word_list)):
    print(word,":",word_list.count(word))

Big : 1
Companies : 1
Data : 4
Good : 1
In : 1
The : 2
Understanding : 1
Without : 1
a : 1
analysis : 1
analyze : 1
and : 3
are : 1
around : 1
as : 1
based : 1
be : 1
better : 1
cannot : 1
collect : 1
crucial : 1
data : 18
decision : 2
decisions : 1
difficult : 1
driven : 1
efficiently : 1
essential : 1
every : 1
everything : 1
field : 1
for : 1
good : 1
growth : 1
have : 1
helps : 1
ignored : 1
importance : 1
important : 1
in : 3
insights : 1
is : 5
key : 1
leads : 1
making : 2
managing : 1
more : 2
of : 1
on : 1
our : 1
patterns : 1
plays : 1
revolves : 1
role : 1
science : 1
store : 1
success : 1
the : 2
to : 2
todays : 1
used : 1
we : 1
widely : 1
world : 1

In [ ]:
#print word with max count

'''
word list----unique word list---cout unique word ---in list
.split()      set()                .count()
'''
data="Data is important Data helps in decision making Big data is widely used in data science The more data we have the better our data analysis Good data leads to good insights Without data decision making is difficult Companies collect data store data and analyze data Data driven decisions are based on data patterns In todays world data is the key to success The importance of data cannot be ignored as data plays a crucial role in every field Understanding data and managing data efficiently is essential for growth Data data and more data everything revolves around data"
word_list=data.split()
word_dict={}
for word in sorted(set(word_list)):
    word_dict[word]=word_list.count(word)
print(word_dict)
#go to each word and check count,store max count and finally print
ref_count=0
ref_word=""
for word in word_dict.keys():
    if word_dict[word]>ref_count:
        ref_count=word_dict[word]
        ref_word=word
print("Max repeated word is:",ref_word,"repeated for",ref_count)

{'Big': 1, 'Companies': 1, 'Data': 4, 'Good': 1, 'In': 1, 'The': 2, 'Understanding': 1, 'Without': 1, 'a': 1, 'analysis': 1, 'analyze': 1, 'and': 3, 'are': 1, 'around': 1, 'as': 1, 'based': 1, 'be': 1, 'better': 1, 'cannot': 1, 'collect': 1, 'crucial': 1, 'data': 18, 'decision': 2, 'decisions': 1, 'difficult': 1, 'driven': 1, 'efficiently': 1, 'essential': 1, 'every': 1, 'everything': 1, 'field': 1, 'for': 1, 'good': 1, 'growth': 1, 'have': 1, 'helps': 1, 'ignored': 1, 'importance': 1, 'important': 1, 'in': 3, 'insights': 1, 'is': 5, 'key': 1, 'leads': 1, 'making': 2, 'managing': 1, 'more': 2, 'of': 1, 'on': 1, 'our': 1, 'patterns': 1, 'plays': 1, 'revolves': 1, 'role': 1, 'science': 1, 'store': 1, 'success': 1, 'the': 2, 'to': 2, 'todays': 1, 'used': 1, 'we': 1, 'widely': 1, 'world': 1}
Max repeated word is: data repeated for 18

In [ ]:
function:
1.code written away from main script
2.called from script when needed
3.when called control gets trasfered ,code gets executed and then control comes back to main script

example:any function in your life(happy birthday)

In [ ]:
def <name>(parameter list):
    '''document string if needed:kind of help to use function'''
    #code

#not activated till called

In [ ]:
def welcome(name):
    print("Function:  hi,",name)

In [ ]:
welcome("amar")

Function:  hi, amar

In [ ]:
welcome()

In [ ]:
def welcome(name):
    '''input:string name o/p:welcome message'''
    print("Function:  hi,",name)

In [ ]:
welcome()

In [ ]:
def add(no1,no2):
    print(no1,"+",no2,"=",(no1+no2))

In [ ]:
add(10,20)

10 + 20 = 30

In [ ]:
'''in python parameters are dynamic hence overloaded by default
overload mean n function with one name'''
def add(no1,no2):
    print(type(no1),type(no2))
    print(no1,"+",no2,"=",(no1+no2))

In [ ]:
add(10,20)
add(12.3,5.6)
add("amar"," panchal")
add(100,3.5)

<class 'int'> <class 'int'>
10 + 20 = 30
<class 'float'> <class 'float'>
12.3 + 5.6 = 17.9
<class 'str'> <class 'str'>
amar +  panchal = amar panchal
<class 'int'> <class 'float'>
100 + 3.5 = 103.5

In [ ]:
def add(no1,no2):
    return no1+no2
    #return returns data/control to script from function

In [ ]:
print("addition is:",add(100,200))#one can directly print
ans=add(1000,2000)
print("addition is:",ans)#store and print later

addition is: 300
addition is: 3000

In [ ]:
#as per standard it is best to pass data and return answer
#one can use it in nested manner
def minimum(no1,no2):
    if no1<no2:
        return no1
    else:
        return no2

In [ ]:
print("minimum is:",minimum(int(input("Enter number 1:")),int(input("Enter number 2:"))))

Enter number 1:100
Enter number 2:6
minimum is: 6

In [ ]:
minimum(minimum(10,5),minimum(2,9))
#minimu(        5     ,        2   )
#                     2

2

In [ ]:
Write a Python function to convert Indian Rupees (INR) to US Dollars (USD) using a fixed exchange rate of 85 INR = 1 USD. The function should take an amount in INR as input and return the equivalent amount in USD.

In [ ]:
def inr_to_usd(inr):
    return inr/85

In [ ]:
inr=float(input("Enter amount in INR"))
print(inr,"INR in USD is",inr_to_usd(inr))

Enter amount in INR120000
120000.0 INR in USD is 1411.764705882353

In [ ]:
#Recursion:function calling itself
+ve:makes code look smaller hence more readable
-ve:makes code run slower,takes more memory(stack),more complex to understand
used one when last/only option

In [ ]:
def fact(no):
    if no==1:
        return 1
    else:
        return no*fact(no-1)

In [ ]:
fact(4)

24

In [ ]:
'''
GCD 18 12---6
algo: if no2 perfectly div no1 then no2 is gcd
      else let no1<---no2 and no2<---remainder of no1,no2
'''
def gcd(no1,no2):
    if no1%no2==0:
        return no2
    else:
        return gcd(no2,no1%no2)

In [ ]:
gcd(18,12)

6

In [ ]:
#only in python possible not in other lang

In [ ]:
#mutiple return: in python return can return more than one parameter
#return pack everything in a tuple and sends
def ascending(no1,no2):
    if no1<no2:
        return no1,no2
    else:
        return no2,no1

In [ ]:
result=ascending(6,2)
print(result,type(result))

(2, 6) <class 'tuple'>

In [ ]:
#variable size parameter *data
def hobbies(*h):
    print(type(h))
    print(h)
    print(len(h))

In [ ]:
hobbies("code","sketch","cook","travel")

<class 'tuple'>
('code', 'sketch', 'cook', 'travel')
4

In [ ]:
hobbies("eat","sleep")

<class 'tuple'>
('eat', 'sleep')
2

In [ ]:
hobbies("live")

<class 'tuple'>
('live',)
1

In [ ]:
#code summary fuction tak would take n paramenter and print
#sum of all
#minimum of all
#maximum of all
#average of all
def summary(*data):
    print("Sum:",sum(data))
    print("Minimum:",min(data))
    print("Maximum:",max(data))
    print("Average:",sum(data)/len(data))

In [ ]:
summary(11,33,77,22,44,99,88,22)

Sum: 396
Minimum: 11
Maximum: 99
Average: 49.5

In [ ]:
def summary(data):
    print(type(data))
    data=list(data)
    print("Sum:",sum(data))
    print("Minimum:",min(data))
    print("Maximum:",max(data))
    print("Average:",sum(data)/len(data))

In [ ]:
summary(map(int,input("Enter data with ,").split(",")))

Enter data with ,11,66,22,99,33,55,44
<class 'map'>
Sum: 330
Minimum: 11
Maximum: 99
Average: 47.142857142857146

In [ ]:
#key value parameter:given when calling
def intro(name,native):
    print("hi",name,",so you are from",native)

In [ ]:
intro("amar","mumbai")

hi amar ,so you are from mumbai

In [ ]:
intro("gujrat","jingesh")

hi gujrat ,so you are from jingesh

In [ ]:
#given in ary order but as a pair of key=value
intro(native="gujrat",name="jingesh")

hi jingesh ,so you are from gujrat

In [ ]:
#default value parameter:given in definition itself
#default: mean to be used when not given
def intro(name="unnamed",native="india"):
    print("hi",name,",so you are from",native)

In [ ]:
intro("amar","mumbai")
intro("amar")
intro()
intro(native="rajasthan")

hi amar ,so you are from mumbai
hi amar ,so you are from india
hi unnamed ,so you are from india
hi unnamed ,so you are from rajasthan

In [ ]:
#function polymorphism
#ability to exists in mutiple forms
def welcome(name):
    print("welcome,",name,"hope you good")

hi=welcome

hi("amar")

welcome, amar hope you good

In [ ]:
#decorator-wrapping old functions within new calls
def eng(name):
    print(name,"Welcome my dear friend")
def hindi(name):
    print(name,"स्वागत है मेरे प्रिय मित्र!")
def marathi(name):
    print(name,"स्वागत माझ्या प्रिय मित्रा!")
def ott(name,lang=eng):
    lang(name)

In [ ]:
ott("amar",hindi)
ott("someone")

amar स्वागत है मेरे प्रिय मित्र!
someone Welcome my dear friend

In [ ]:
#genrator:
#function that generates value on every .next() call
#function that pauses execution when yield encounters
def go():
    yield 1
    yield 2
    yield 3
def go_2():
    print("1")
    print("2")
    print("3")
def FD(amount,roi):
    year=1
    while True:
        if year==10:
            break
        amount=amount+(amount*roi)
        print("after",year,amount)
        year+=1
        yield
obj=go()
o=go_2()

1
2
3

In [ ]:
x=FD(10000,0.08)

In [ ]:
next(x)

StopIteration:

In [ ]:
#iterator:iterate over n values
data=[11,22,33,44,55,66,77,88,99,111]
i=iter(data)

In [ ]:
print(next(i))

66

In [ ]:
#iterator:iterate over a given sequence
#generator:in one pass at a time generates value(funcntion)
#docarator:takes old function wrap it with ne needs and use old core for adaptation

In [ ]:
#data passed by value:changes seen only in function
def doubler(data):
    print("in function:start: data",data)
    data=data*2
    print("in function:end: data",data)
data=10
print("main script")
print("in script:start: data",data)
doubler(data)
print("in script:end: data",data)

main script
in script:start: data 10
in function:start: data 10
in function:end: data 20
in script:end: data 10

In [ ]:
#data structure passed by ref:changes seen all places
def doubler(data):
    print("in function:start: data",data)
    data[0]=data[0]*2
    print("in function:end: data",data)
data=[10]
print("main script")
print("in script:start: data",data)
doubler(data)
print("in script:end: data",data)

main script
in script:start: data [10]
in function:start: data [10]
in function:end: data [20]
in script:end: data [20]

In [ ]:
#global v/s local
x=10#ACT AS GLOBAL
def hi():
    print("in function:",x)
print("in main:",x)
hi()

in main: 10
in function: 10

In [ ]:
x=10#ACT AS GLOBAL
def hi():
    global x
    x=100#global access
    print("in function:",x)
print("in main:",x)
hi()
print("in main:",x)

in main: 10
in function: 100
in main: 100

In [ ]:
#create filter function that read a list and returns a list
#consisting only elements > the average of passed list
def filter(data):
    avg=sum(data)/len(data)
    new_list=[]
    for i in data:
        if i>avg:
            new_list.append(i)
    return new_list
filter([11,22,44,88,77,66,55,44,22,99,100])

[88, 77, 66, 99, 100]

**=========================================================================================================================**

# Day five ,imp

**==========================================================================================================**

In [ ]:
l=[3,2,4,1,5]

print("sorted:",l==sorted(l))

sorted: False

In [ ]:
l1=[2,1,4,5,3,2]
l2=[4,7,8,2,9,2]
#list(set(l1)&set(l2)) only if all unique
#check each element from one list in other list
# in to check ,each elment  for item
for element in l1:
    if element in l2:
        print(element,end=", ")
        l2.remove(element)

2, 4, 2,

In [ ]:
#given 7 days share values
#return buy and sell day for max profit
trade=[5,1,1,4,10,3,8]
#lowest buy highest sell
buy_at=0
sell_at=0
profit=0
for i in range(0,len(trade)):#buy
    for j in range(i+1,len(trade)):#check profit(buy-sell)
        if trade[j]-trade[i]>profit:
            buy_at=i
            sell_at=j
            profit=trade[j]-trade[i]
print(f"Best Profit {profit} by buying at {buy_at} and selleing at {sell_at}")

Best Profit 9 by buying at 1 and selleing at 4

In [ ]:
#given is set of bids by 10 users  give product to nearest bidder of original cost.
cost_product=22.5
bids=[11,44,23,67,45.5,5.1,22.3,26]
nearest_bid=bids[0]
difference=10000
for bid in bids:
    if bid<cost_product and cost_product-bid<difference:
        nearest_bid=bid
        difference=cost_product-bid
print(nearest_bid)

22.3

In [ ]:
cost_product=22.5
bids=[11,44,23,67,45.5,5.1,22.3,26]
closest=[]
for bid in bids:
    if (bid)<(cost_product):
        closest.append(bid)

print(sorted(closest),"\n",sorted(closest)[-1])

[5.1, 11, 22.3]
 22.3

In [ ]:
#sum of set given a value m ,return set of number pairs that can add to this number
#def sum_set([1,2,3,4,5],5)
#return (1,4)(2,3)
def sum_set(data,m):
    ans=[]
    for i in range(len(data)):
        for j in range(i+1,len(data)):
            if data[i]+data[j]==m:
                ans.append((data[i],data[j]))
    return ans

In [ ]:
sum_set([1,2,3,4,5],5)

[(1, 4), (2, 3)]

In [ ]:
Split List Based on Average
arr = [10, 20, 30, 40, 50]
Average = (10 + 20 + 30 + 40 + 50) / 5 = 30
Greater than 30 → [40, 50]
Less than or equal to 30 → [10, 20, 30]

In [ ]:
def cutter(arr):
    avg=sum(arr)/len(arr)
    a_lesser=[]
    a_greater=[]
    for item in arr:
        if item<avg:
            a_lesser.append(item)
        else:
            a_greater.append(item)
    return a_greater,a_lesser

arr = [10, 20, 30, 40, 50]
res=cutter(arr)
print("Greater:",res[0],"lesser:",res[1])

Greater: [30, 40, 50] lesser: [10, 20]

In [ ]:
Given a nested list where each sublist contains random numbers, write a program to calculate the sum of each sublist and append the sum to the respective sublist.

Constraints:
Each sublist contains at least one integer.
The numbers can be positive, negative, or zero.
The length of the outer list is 3 (i.e., exactly 3 sublists).
The output should be the modified nested list with sums appended.
nested_list = [
    [3, 5, 7],
    [10, 20, 30],
    [4, 8, 12]
]
First sublist: 3 + 5 + 7 = 15 → Append 15
Second sublist: 10 + 20 + 30 = 60 → Append 60
Third sublist: 4 + 8 + 12 = 24 → Append 24

[
    [3, 5, 7, 15],
    [10, 20, 30, 60],
    [4, 8, 12, 24]
]

In [ ]:
def adder(arr):
    for sub_array in arr:
        print(sub_array)
        sub_array.append(sum(sub_array))
    return arr
nested_list =
 [
    [3, 5, 7],
    [10, 20, 30],
    [4, 8, 12]
]
nested_list=adder(nested_list)
print(nested_list)

[3, 5, 7]
[10, 20, 30]
[4, 8, 12]
[[3, 5, 7, 15], [10, 20, 30, 60], [4, 8, 12, 24]]

In [ ]:
def anagram(w1,w2):
    return sorted((w1))==sorted((w2))
word1="listen"
word2="silent"
print(anagram(word1,word2))

False

In [ ]:
"abcdefgh","abcgtthh"
#start 1 to n till it exsits in other string
#substring [:i]
#a , ab, abc, adcd not last was ans
def substring_finder(string,substring):
    pos=0
    for i in range(1,len(substring)):
        if substring[:i] in string:#a,aa,aab,aabb,aabbc,aabbcc not
            pos=i
        else:
            break
    return substring[:pos]

print("Longest substring is:",substring_finder("aabbccdd","aabbceee"))

Longest substring is: aabbc

In [ ]:
# try BATA---TATA---ATA

In [ ]:
d={1:"one",2:"two",3:"three"}
d.keys()

dict_keys([1, 2, 3])

In [ ]:
d.values()

dict_values(['one', 'two', 'three'])

In [ ]:
d[1]

'one'

In [ ]:
d.get(1)

'one'

In [ ]:
d[2.5]="two and half"

In [ ]:
print(d)

{1: 'one', 2: 'two', 3: 'three', 2.5: 'two and half'}

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'd': 4}
#combine 2 dict where if key already there then add value
return {'a': 1, 'b': 5, 'd': 4}

{'a': 1, 'b': 3, 'd': 4}

In [ ]:
def combine(d1,d2):
    #update d1 to d3
    d3={}
    d3.update(d1)#{'a': 1, 'b': 2}
    #add d2 to d3 if key already there then add value
    #key there or not
    for key in d2.keys():#{'b': 3, 'd': 4}
        if key in d3:#b
            d3[key]+=d2[key]
           #     b:2   b:3
        else:
            d3[key]=d2[key]
            #new d3['d']=4
    return d3
combine({'a': 1, 'b': 2} ,{'b': 3, 'd': 4})

{'a': 1, 'b': 5, 'd': 4}

In [ ]:
data = {5: "five", 2: "two", 8: "eight", 1: "one"}
dict(sorted(data.items()))

{1: 'one', 2: 'two', 5: 'five', 8: 'eight'}

In [ ]:
data = {1: "dog", 2: "cat", 3: "elephant", 4: "bee"}

In [ ]:
def get_value(item):
    return item[1]

sorted(data.items(),key=get_value)

NameError: name 'item' is not defined

In [ ]:
data.items()

dict_items([(5, 'five'), (2, 'two'), (8, 'eight'), (1, 'one')])

In [ ]:
#system building:
#create a system called student management
#where seat number are keys and name,gender,email id are store as value
#add---
#search
#delete
#modify iff existing

In [ ]:
students={}

In [ ]:
#add
#read name,gender,email store all in list
record=[]
record.append(input("Enter name:"))
record.append(input("Enter gender:"))
record.append(input("Enter emailid:"))
seat_no=int(input("Seat no:"))
students[seat_no]=record

Enter name:abbadabba
Enter gender:m
Enter emailid:ab#cc.com
Seat no:202502

In [ ]:
print(students)

{202501: ['amrita', 'female', 'a@b.com']}

In [ ]:
#search
seat_no=int(input("Enter seat no:"))
if seat_no in students:
    print("Yes")
    students[seat_no]
else:
    print("No")

Enter seat no:420
No

In [ ]:
#delete:
students.pop(int(input("Seat_no")))

Seat_no202502

['abbadabba', 'm', 'ab#cc.com']

In [ ]:
#update:
seat_no=int(input("Seat no:"))
if seat_no in students:
    record=[]
    record.append(input("Enter name:"))
    record.append(input("Enter gender:"))
    record.append(input("Enter emailid:"))
    students[seat_no]=record
else:
    print("not there")

Seat no:202601
not there

In [ ]:
#build menu drive code for student management system
#1.add,2.search,3.update,4 delete
#seatnumber is auto generated by system
seat_number_generator=202500
students={}
while True:
    print("Student Management System")
    print("-------------------------")
    print("1.Add")
    print("2.Search")
    print("3.Update")
    print("4.Delete")
    print("0.Exit")
    ch=int(input(":"))
    if ch==1:
        record=[]
        record.append(input("Enter name:"))
        record.append(input("Enter gender:"))
        record.append(input("Enter emailid:"))
        seat_number_generator+=1
        seat_no=seat_number_generator
        students[seat_no]=record
        print("Registred your seatno is:",seat_no)
    elif ch==2:
        seat_no=int(input("Enter seat no:"))
        if seat_no in students:
            print("Yes")
            print("Details:",students[seat_no])
        else:
            print("Not found")
    elif ch==3:
        seat_no=int(input("Seat no:"))
        if seat_no in students:
            record=[]
            record.append(input("Enter name:"))
            record.append(input("Enter gender:"))
            record.append(input("Enter emailid:"))
            students[seat_no]=record
            print("Updated....")
        else:
            print("not there")
    elif ch==4:
        seat_no=int(input("Seat_no"))
        if seat_no in students:
            print("Deleted:",students.pop(seat_no))
        else:
            print("wrong seat no")
    elif ch==0:
        print("bye bye...")
        break
    else:
        print("Wrong option selected....")

Student Management System
-------------------------
1.Add
2.Search
3.Update
4.Delete
0.Exit
:1
Enter name:amar
Enter gender:male
Enter emailid:a@b.com
Registred your seatno is: 202501
Student Management System
-------------------------
1.Add
2.Search
3.Update
4.Delete
0.Exit
:1
Enter name:superman
Enter gender:male
Enter emailid:s@r.com
Registred your seatno is: 202502
Student Management System
-------------------------
1.Add
2.Search
3.Update
4.Delete
0.Exit
:1
Enter name:shaktiman
Enter gender:man
Enter emailid:m@k.com
Registred your seatno is: 202503
Student Management System
-------------------------
1.Add
2.Search
3.Update
4.Delete
0.Exit
:2
Enter seat no:202506
Not found
Student Management System
-------------------------
1.Add
2.Search
3.Update
4.Delete
0.Exit
:3
Seat no:202503
Enter name:shaktiman
Enter gender:male
Enter emailid:q@y.com
Updated....
Student Management System
-------------------------
1.Add
2.Search
3.Update
4.Delete
0.Exit
:99
Wrong option selected....
Student Management System
-------------------------
1.Add
2.Search
3.Update
4.Delete
0.Exit
:0
bye bye...

**=====================================================================**

# Day six  ,  OOPs  /  sums

**======================================================================================**

In [ ]:
'''
class
-virtual idea "Human"
-its a frame work
-has properties
-has operations to access/set properties

object(he/she/it)
-physical entity "of human type"
-implementation of frame work
-has values of properties
-methods to access/set values or properties

n object--->1 class

class: design:

design methods/operations as per need that creates properties as per need.

properties in python are created by methods called on them
(needed will be created).

self is  a ref of one that is calling the class/class's method

as method written once but used by each object as per need
'''
class Human:
    def birth(self):
        self.gender=input("Enter gender:")
        print("id is:",id(self))
    def naming(self):
        self.name=input("Enter name:")
        print("id is:",id(self))
    def intro(self):
        print(f"hi i am {self.name} a {self.gender}")
        print("id is:",id(self))

In [ ]:
h=Human()
h2=Human()
h3=Human()
print(id(h),id(h2),id(h3))

134259467574928 134259419081936 134259467566096

In [ ]:
h.birth()#-- birth(5504-->self)

Enter gender:male
id is: 134259467574928

In [ ]:
h.naming()

Enter name:heman
id is: 134259467574928

In [ ]:
h.intro()

hi i am heman a male
id is: 134259467574928

In [ ]:
h2.birth()

Enter gender:male
id is: 134259419081936

In [ ]:
h2.name

AttributeError: 'Human' object has no attribute 'name'

In [ ]:
'''
class
-virtual idea "Human"
-its a frame work
-has properties
-has operations to access/set properties

object(he/she/it)
-physical entity "of human type"
-implementation of frame work
-has values of properties
-methods to access/set values or properties

n object--->1 class

class: design:

design methods/operations as per need that creates properties as per need.

properties in python are created by methods called on them
(needed will be created).

self is  a ref of one that is calling the class/class's method

as method written once but used by each object as per need
'''
class Human:
    def birth(self):
        self.gender=input("Enter gender:")
        print("id is:",id(self))
    def naming(self):
        self.name=input("Enter name:")
        print("id is:",id(self))
    def intro(self):
        self.birth()
        self.naming()
        print(f"hi i am {self.name} a {self.gender}")
        print("id is:",id(self))

In [ ]:
h=Human()
h.intro()

Enter gender:male
id is: 134259170465744
Enter name:amar
id is: 134259170465744
hi i am amar a male
id is: 134259170465744

In [ ]:
#wap in oop to print area of circle
#setters and getters
class Circle:
    def set_r(self):
        self.r=float(input("Enter r:"))
    def print_area(self):
        print("Area is:",(self.r**2*3.14))

In [ ]:
obj=Circle()
obj.set_r()
obj.print_area()

Enter r:12.7
Area is: 506.4506

In [ ]:
#write OOP code for calculator with add,sub,mul,div
#on 2 numbers
class Cal:
    def set_data(self):
        self.no1=int(input("Enter a number:"))
        self.no2=int(input("Enter other number:"))
    def add(self):
        print(f"{self.no1}+{self.no2}={self.no1+self.no2}")

In [ ]:
c=Cal()
c.set_data()
c.add()

Enter a number:10
Enter other number:20
10+20=30

In [ ]:
#industry standard:data are scanned  and passed not read
#write OOP code for calculator with add,sub,mul,div
#on 2 numbers
class Cal:
    def set_data(self,no1,no2):
        self.no1=no1
        self.no2=no2

        #self.XXX is member of object/instance member,can be access anywhere in class
        #XXX(no1,no2):are temp/local variables only till method
    def add(self):
        #print(no1,no2)
        print(f"{self.no1}+{self.no2}={self.no1+self.no2}")

In [ ]:
c=Cal()
n1,n2=map(int,input("Enter 2 numbers:").split())
c.set_data(n1,n2)
c.add()

Enter 2 numbers:100 200
100+200=300

In [ ]:
print(no1,no2)

10 100

In [ ]:
Pillars:

Encasulation: process to combine data+operation on data:
              laptop+windown+bag
              ex:food comming in container
               class method(function)+data
              +ve:ease of use,reuse,better control
Abstraction:  process of hiding unwanted complex data
              +implementation and giving simplest access to needed info/data
              ex:press button laptop starts...
              menu in hotels
              +ve:ease of access/better access to needed info only
              visibilities:
                public  : var
                private/hidden: _var:not reflected if known accessed
                strong private: __var:not accessed not reflected outside class
Inheritance:
            process of derriving properties from pre-existing
            +ve:standardization,faster development(+i),enhancement

Polymorphism:

SyntaxError: invalid syntax (<ipython-input-6-49b2876dc757>, line 1)

In [ ]:
class Person:
    gender="male"#public
    _name="amar"#private/hidden
    __contact="9821601163"#strong private

In [ ]:
Person.__contact

AttributeError: type object 'Person' has no attribute '__contact'

In [ ]:
class Human:
    def birth(self):
        self.__gender=input("Enter gender:")
    def naming(self):
        self.__name=input("Enter name:")
    def __super_power(self):
        print("my super power is me")
    def intro(self):
        print(f"hi i am {self.__name} a {self.__gender}")
        self.__super_power()

In [ ]:
h=Human()
h.birth()
h.naming()
h.intro()

Enter gender:male
Enter name:super man
hi i am super man a male
my super power is me

In [ ]:
h.

In [ ]:
h.intro()

hi i am modi a male

In [ ]:
#constructor
#called on its own when object is created
#used for init,setting values to user defined
syntax:
def __int__(self):
    #code

In [ ]:
class Human:
    def __init__(self):
        print("new object created ",id(self))
    def birth(self):
        self.__gender=input("Enter gender:")
    def naming(self):
        self.__name=input("Enter name:")
    def intro(self):
        print(f"hi i am {self.__name} a {self.__gender}")

In [ ]:
h=Human()

new object created  134150850303184

In [ ]:
class Human:
    def __init__(self,gender,name):
        print("new object created ",id(self))
        self.__gender=gender
        self.__name=name
        print("object created and initilized...")

    def intro(self):
        print(f"hi i am {self.__name} a {self.__gender}")

In [ ]:
h=Human("male","he_man")

new object created  134150851940304
object created and initilized...

In [ ]:
#default value init
class Human:
    def __init__(self,gender="unknown",name="unnamed"):
        print("new object created ",id(self))
        self.__gender=gender
        self.__name=name
        print("object created and initilized...")
    def education(self,degree):
        self.__degree=degree
    def intro(self):
        print(f"hi i am {self.__name} a {self.__gender},workwise {self.__degree}")

In [ ]:
h=Human(name="amar",gender="male")

new object created  134150863686736
object created and initilized...

In [ ]:
h.intro()

hi i am amar a male,workwise Phd

In [ ]:
print(h)

<__main__.Human object at 0x7a026e938c50>

In [ ]:
#printer method:
    return a str that can be directly printed in print
def __str__(self):


    return "string......"

IndentationError: unexpected indent (<ipython-input-47-7452d32d5869>, line 2)

In [ ]:
#default value init
class Human:
    def __init__(self,gender="unknown",name="unnamed"):
        print("new object created ",id(self))
        self.__gender=gender
        self.__name=name
        print("object created and initilized...")
    def education(self,degree):
        self.__degree=degree
    def __str__(self):
         return "hi i am "+self.__name+" a "+ self.__gender+" workwise "+self.__degree

In [ ]:
h=Human(name="amar",gender="male")
h.education("Phd")

new object created  134150851945360
object created and initilized...

In [ ]:
print(h)

hi i am amar a male workwise Phd

In [ ]:

Human:
    __init__:gender
    naming:name
    education:degree
    job: salary

In [ ]:
#create class student: having details, rollno,name,gender,pointer
#create init to read this with default values safe
#also code str to print all details directly

class Student:
    def __init__(self,rollno=0,name="",gender="",pointer=0.0):
        self.__rollno=rollno
        self.__name=name
        self.__gender=gender
        self.__pointer=pointer
    def __str__(self):
        return "Seat no:"+str(self.__rollno)+" Name:"+self.__name+" Gender:"+self.__gender+" Pointer:"+str(self.__pointer)
    def get_rollno(self):#method coded to get data outside class
        return self.__rollno
        #to be coded iff needed by coder

In [ ]:
s=Student(int(input("Rollno:")),input("Name:"),input("Gender:"),float(input("Pointer:")))
print(s)

Rollno:46
Name:amar
Gender:male
Pointer:9.1
Seat no:46 Name:amar Gender:male Pointer:9.1

In [ ]:
s.get_rollno()

46

In [ ]:
#Membership
class member:
    exists with class ,accessed with class_name.XXX only,only one copy(with class itself)
    longest life(till class exists---till even one object out there)
object memeber:
    exists with each object having own copy ,accessed with object_name.XXX or within method self.XXX
    life till object there
local member:
    passed data
    shortes life(one method only)

In [ ]:
class Student:
    student_roll_no=202500#as created here becomes class member
    def __init__(self,name="",gender="",pointer=0.0):
        Student.student_roll_no+=1
        self.__rollno=Student.student_roll_no
        self.__name=name
        self.__gender=gender
        self.__pointer=pointer
        print("Student created with roll number:",self.__rollno)
    def __str__(self):
        return "Seat no:"+str(self.__rollno)+" Name:"+self.__name+" Gender:"+self.__gender+" Pointer:"+str(self.__pointer)
    def get_rollno(self):#method coded to get data outside class
        return self.__rollno
        #to be coded iff needed by coder

In [ ]:
s_dict={}

In [ ]:
s=Student(input("Name:"),input("Gender:"),float(input("Pointer:")))
print(s)
s_dict[s.get_rollno()]=s

Name:bbbbb
Gender:female
Pointer:8.1
Student created with roll number: 202502
Seat no:202502 Name:bbbbb Gender:female Pointer:8.1

In [ ]:
print(s_dict)

{202501: <__main__.Student object at 0x7f4cc896e1d0>, 202502: <__main__.Student object at 0x7f4cc805a310>}

In [ ]:
#to print
print(s_dict[202501])

Seat no:202501 Name:abcd Gender:m Pointer:9.1

In [ ]:
s_dict[202501].__name

AttributeError: 'Student' object has no attribute '__name'

In [ ]:
202510 in s_dict#searching

False

In [ ]:
#when n objects of a type is needed then we would need list/dict or both
#list good but slow in searching
#dict:complex but extreemly fast 1 pass search

In [ ]:
#code

In [ ]:
Problem Definition
Create a Python program to manage bank accounts with the following requirements:

Attributes:
name: Name of the account holder
amount: Current balance in the account
account_number: Auto-generated bank account number

Methods:
Create Account
    Prompt the user for the account holder's name.

    Initialize the balance minimum should be 5000.

    Auto-generate a unique bank account number.

Deposit
    Prompt the user for the account number and the amount to deposit.

    Add the amount to the current balance.

Withdraw
    Prompt the user for the account number and the amount to withdraw.

    Ensure the remaining balance does not fall below 5000 after the withdrawal. If it does, display an error message and do not process the withdrawal.

Check Balance
    Prompt the user for the account number.

Display the current balance.

Menu:
The program should display a menu with the following options:
1.Create Account
2.Deposit
3.Withdraw
4.Check Balance
0.Exit

In [ ]:

class Account:
    Account_no_generator=2025000
    def __init__(self,name,gender,amount):
        self.name=name
        self.gender=gender
        self.amount=amount
        Account.Account_no_generator+=1
        self.account_no=Account.Account_no_generator
        print("Account created ,your account number is:",self.account_no)

    def get_account_no(self):
        return self.account_no

    def check_balance(self):
        print("Account details")
        print("----------------------------")
        print("Account no:",self.account_no)
        print("Account Name:",self.name)
        print("Account Balance:",self.amount);

    def deposit(self,amount_given):
        if amount_given<=0:
            print("Amount can not be zero or Negative")
        else:
            self.amount+=amount_given
            self.check_balance()

    def withdraw(self,amount_given):
        if self.amount-amount_given<=5000:
            print("insufficient funds...")
        else:
            self.amount-=amount_given
            self.check_balance()

In [ ]:
#code with script
bank={}
while True:
    print("----------------")
    print("---LENA BANK----")
    print("----------------")
    print("1.Create Account")
    print("2.Withdraw")
    print("3.Deposit")
    print("4.Check Balance")
    print("0.Exit")
    ch=int(input("Choice:"))
    if ch==1:
        name=input("Enter Name:")
        gender=input("Enter Gender:")
        while True:
            amt=float(input("Enter amount to open account(min 5000):"))
            if amt>=5000:
                a=Account(name,gender,amt)
                bank[a.get_account_no()]=a
                break
    elif ch==2:
        acc_no=int(input("Enter account no:"))
        if acc_no in bank:
            print("Account found:")
            bank[acc_no].check_balance()
            amt=float(input("Enter amount to withdraw:"))
            bank[acc_no].withdraw(amt)
        else:
            print(acc_no,"not found...")
    elif ch==3:
        acc_no=int(input("Enter account no:"))
        if acc_no in bank:
            print("Account found:")
            bank[acc_no].check_balance()
            amt=float(input("Enter amount to deposit:"))
            bank[acc_no].deposit(amt)
        else:
            print(acc_no,"not found...")
    elif ch==4:
        acc_no=int(input("Enter account no:"))
        if acc_no in bank:
            print("Account found:")
            bank[acc_no].check_balance()
            amt=float(input("Enter amount to deposit:"))
            bank[acc_no].deposit(amt)
        else:
            print(acc_no,"not found...")
    elif ch==0:
        print("Thanks for using Lena bank")
        break
    else:
        print("Wrong choice...")

In [ ]:
#code with script with functions
class Account:
    Account_no_generator=2025000
    def __init__(self,name,gender,amount):
        self.name=name
        self.gender=gender
        self.amount=amount
        Account.Account_no_generator+=1
        self.account_no=Account.Account_no_generator
        print("Account created ,your account number is:",self.account_no)

    def get_account_no(self):
        return self.account_no

    def check_balance(self):
        print("Account details")
        print("----------------------------")
        print("Account no:",self.account_no)
        print("Account Name:",self.name)
        print("Account Balance:",self.amount);

    def deposit(self,amount_given):
        if amount_given<=0:
            print("Amount can not be zero or Negative")
        else:
            self.amount+=amount_given
            self.check_balance()

    def withdraw(self,amount_given):
        if self.amount-amount_given<=5000:
            print("insufficient funds...")
        else:
            self.amount-=amount_given
            self.check_balance()

def create(bank):
     name=input("Enter Name:")
     gender=input("Enter Gender:")
     while True:
            amt=float(input("Enter amount to open account(min 5000):"))
            if amt>=5000:
                a=Account(name,gender,amt)
                bank[a.get_account_no()]=a
            break

def withdraw(bank):
    acc_no=int(input("Enter account no:"))
    if acc_no in bank:
        print("Account found:")
        bank[acc_no].check_balance()
        amt=float(input("Enter amount to withdraw:"))
        bank[acc_no].withdraw(amt)
    else:
        print(acc_no,"not found...")

def deposit(bank):
    acc_no=int(input("Enter account no:"))
    if acc_no in bank:
        print("Account found:")
        bank[acc_no].check_balance()
        amt=float(input("Enter amount to deposit:"))
        bank[acc_no].deposit(amt)
    else:
        print(acc_no,"not found...")
def check_balance(bank):
    acc_no=int(input("Enter account no:"))
    if acc_no in bank:
        print("Account found:")
        bank[acc_no].check_balance()
        amt=float(input("Enter amount to deposit:"))
        bank[acc_no].deposit(amt)
    else:
        print(acc_no,"not found...")

bank={}
while True:
    print("----------------")
    print("---LENA BANK----")
    print("----------------")
    print("1.Create Account")
    print("2.Withdraw")
    print("3.Deposit")
    print("4.Check Balance")
    print("0.Exit")
    ch=int(input("Choice:"))
    if ch==1:
        create(bank)
    elif ch==2:
        withdraw(bank)
    elif ch==3:
        deposit(bank)
    elif ch==4:
       check_balance(bank)
    elif ch==0:
        print("Thanks for using Lena bank")
        break
    else:
        print("Wrong choice...")

----------------
---LENA BANK----
----------------
1.Create Account
2.Withdraw
3.Deposit
4.Check Balance
0.Exit
Choice:1
Enter Name:abcd
Enter Gender:m
Enter amount to open account(min 5000):12000
Account created ,your account number is: 2025001
----------------
---LENA BANK----
----------------
1.Create Account
2.Withdraw
3.Deposit
4.Check Balance
0.Exit
Choice:2
Enter account no:2025001
Account found:
Account details
----------------------------
Account no: 2025001
Account Name: abcd
Account Balance: 12000.0
Enter amount to withdraw:2000
Account details
----------------------------
Account no: 2025001
Account Name: abcd
Account Balance: 10000.0
----------------
---LENA BANK----
----------------
1.Create Account
2.Withdraw
3.Deposit
4.Check Balance
0.Exit
Choice:3
Enter account no:2025001
Account found:
Account details
----------------------------
Account no: 2025001
Account Name: abcd
Account Balance: 10000.0
Enter amount to deposit:10000
Account details
----------------------------
Account no: 2025001
Account Name: abcd
Account Balance: 20000.0
----------------
---LENA BANK----
----------------
1.Create Account
2.Withdraw
3.Deposit
4.Check Balance
0.Exit
Choice:4
Enter account no:202501
202501 not found...
----------------
---LENA BANK----
----------------
1.Create Account
2.Withdraw
3.Deposit
4.Check Balance
0.Exit
Choice:4
Enter account no:2025001
Account found:
Account details
----------------------------
Account no: 2025001
Account Name: abcd
Account Balance: 20000.0
Enter amount to deposit:5000
Account details
----------------------------
Account no: 2025001
Account Name: abcd
Account Balance: 25000.0
----------------
---LENA BANK----
----------------
1.Create Account
2.Withdraw
3.Deposit
4.Check Balance
0.Exit
Choice:0
Thanks for using Lena bank

In [ ]:
5000

In [ ]:
Inheritance:
            process of derriving properties from pre-existing
            +ve:standardization,faster development(+i),enhancement
types:
single level/simple
    parent----->child

muti level:generations
parent--->child
          Parent----->child

hierarchical
mutiple
hybrid

In [ ]:
class A:
    def public(self):#family name
        print("hi i m public from A")
    def _private(self):#wealth/money
        print("hi i m private from A")
    def __strong_private(self):#educational degrees
        print("hi i m strong private from A")

In [ ]:
class B(A):
    pass

In [ ]:
obj=B()

In [ ]:
obj.public()

hi i m public from A

In [ ]:
obj._private()

hi i m private from A

In [ ]:
obj.__strong_private()#can not be inherited

AttributeError: 'B' object has no attribute '__strong_private'

In [ ]:
#override
#child class will rewrite its own method to meet new needs
#in the process rejects inherited method of parents
#called child override parents method
class Parent:
    def welcome(self,name):
        print("welcome,",name)
    def food(self):
        print("roti sabji...")
class Child(Parent):
    def food(self):#override
        print("child:Fast food")

In [ ]:
obj=Child()
obj.welcome("amar")
obj.food()

welcome, amar
child:Fast food

In [ ]:
#multiple without ambiguity
class A:
    def myA(self):
        print("Hi from A My_A")
class B:
    def myB(self):
        print("Hi from B My_B")
class C:
    def myC(self):
        print("Hi from C My_C")
class X(A,B,C):
    def myX(self):
        print("Hi from X My_X")

In [ ]:
obj=X()

In [ ]:
obj.

In [ ]:
#multiple with ambiguity
class A:
    def my(self):
        print("Hi from A My_A")
class B:
    def my(self):
        print("Hi from B My_B")
class C:
    def my(self):
        print("Hi from C My_C")
class X(C,A,B):
    def myX(self):
        print("Hi from X My_X")

In [ ]:
obj=X()
obj.my()

Hi from B My_B

In [ ]:
#multilevel without ambiguity
class A:
    def myA(self):
        print("Hi from A My_A")
class B(A):
    def myB(self):
        print("Hi from B My_B")
class C(B):
    def myC(self):
        print("Hi from C My_C")
class X(C):
    def myX(self):
        print("Hi from X My_X")

In [ ]:
obj=X()

In [ ]:
obj.

In [ ]:
#super():to access init of super class/ anything of super class
class A:
    def __init__(self):
        print("Hi from A My_A")
class B(A):
    def __init__(self):
        super().__init__()
        print("Hi from B My_B")

In [ ]:
objb=B()

Hi from A My_A
Hi from B My_B

In [ ]:
class A:
    def __init__(self,data):
        print("Hi from A My_A:",data)
class B(A):
    def __init__(self,data1,data2):
        super().__init__(data1)
        print("Hi from B My_B:",data2)

In [ ]:
objb=B(10,20)

Hi from A My_A: 10
Hi from B My_B: 20

In [ ]:
# create human:has gender ,name
# education : has degree
# job: has salary
#using __init__() set all values and print them from job only
#accept parameters in job only but set in respective class
class Human:
    def __init__(self, name, gender):
        self.name = name
        self.gender = gender
        print("name,gender set in Human")

class Education(Human):
    def __init__(self, name,gender,degree):
        super().__init__(name,gender)
        self.degree = degree
        print("degree set in Education")

class Job(Education):
    def __init__(self, name, gender, degree, salary):
        super().__init__(name, gender,degree)
        self.salary = salary
        print("salary set in ")

    def display(self):
        print(f"Name: {self.name}")
        print(f"Gender: {self.gender}")
        print(f"Degree: {self.degree}")
        print(f"Salary: {self.salary}")

employee = Job("Amit", "Male", "B.Tech", 60000)
employee.display()

name,gender set in Human
degree set in Education
salary set in Job
Name: Amit
Gender: Male
Degree: B.Tech
Salary: 60000

In [ ]:
class Human:
    def __init__(self, name, gender):
        self.name = name
        self.gender = gender

class Education:
    def __init__(self, degree):
        self.degree = degree

class Job(Human, Education):
    def __init__(self, name, gender, degree, salary):
        Human.__init__(self, name, gender)
        Education.__init__(self, degree)
        self.salary = salary

    def display(self):
        print(f"Name: {self.name}")
        print(f"Gender: {self.gender}")
        print(f"Degree: {self.degree}")
        print(f"Salary: {self.salary}")

employee = Job("Amit", "Male", "B.Tech", 60000)
employee.display()

In [ ]:
Problem Definition
Create a Python program using multiple inheritance to model a Vehicle Management System.

The Vehicle class stores brand and model.
The Specifications class stores engine type and mileage.
The Car class inherits from both and also stores the price.
The program should take input only in the Car class, set values in respective classes, and display all details from the Car class.

car1 = Car("Toyota", "Camry", "Hybrid", 25, 30000)
car1.display()

o/p
Brand: Toyota
Model: Camry
Engine Type: Hybrid
Mileage: 25 km/l
Price: $30000

In [ ]:
class Vehicle:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

class Specifications:
    def __init__(self, engine_type, mileage):
        self.engine_type = engine_type
        self.mileage = mileage

class Car(Vehicle, Specifications):
    def __init__(self, brand, model, engine_type, mileage, price):
        Vehicle.__init__(self, brand, model)
        Specifications.__init__(self, engine_type, mileage)
        self.price = price

    def display(self):
        print(f"Brand: {self.brand}")
        print(f"Model: {self.model}")
        print(f"Engine Type: {self.engine_type}")
        print(f"Mileage: {self.mileage} km/l")
        print(f"Price: ${self.price}")

car1 = Car("Toyota", "Camry", "Hybrid", 25, 30000)
car1.display()

Brand: Toyota
Model: Camry
Engine Type: Hybrid
Mileage: 25 km/l
Price: $30000

In [ ]:
Interview Question:
Library Management System (Using OOP in Python)
Problem Statement:
Design a Library Management System using Object-Oriented Programming (OOP) concepts in Python.

The system should allow:
Adding books to the library (with title, author, and ISBN).
Registering members (with name and membership ID).
Issuing books to members.
Returning books to the library.
Tracking issued books and available books.

Classes and Their Responsibilities:
Book:
    Stores details about a book (title, author, ISBN, availability).
Member:
    Represents a library member (name, membership ID, borrowed books).
Library:
    Manages books and members, issues and returns books.

In [ ]:
class Book:
    def __init__(self,title,author,isbn,availability=True):
        self.title=title
        self.author=author
        self.isbn=isbn
        self.availability=availability
    def __str__(self):
        status=""
        if self.availability:
            status="Available"
        else:
            status="Issued"
        return f"\nISBN:{self.isbn}\tTitle:{self.title}\tAuthor:{self.author}\tStatus:{status}"
    def status(self):
        return self.availability


class Member:
    def __init__(self,name,member_id):
        self.name=name
        self.member_id=member_id
        self.borrowed_book=[]
    def __str__(self):
        return f"\nName:{self.name}\tMember_id:{self.member_id}"

class Library:
    def __init__(self):
        self.books={}
        self.members={}

    def add_book(self,book):
        self.books[book.isbn]=book

    def add_member(self,member):
        self.members[member.member_id]=member

    def list_books(self):
        print("Books.........")
        for item in self.books.keys():
            print(self.books[item])

    def issue(self,member_id,book_isbn):
        if member_id in self.members and book_isbn in self.books and self.books[book_isbn].status()==True:
            self.members[member_id].borrowed_book.append(self.books[book_isbn])
            #status change book
            self.books[book_isbn].availability=False
        else:
            print("Error check membership/book id/book status")

    def return_book(self,member_id,book_isbn):
        if member_id in self.members and book_isbn in self.books:
            self.members[member_id].borrowed_book.remove(self.books[book_isbn])
            #status change book
            self.books[book_isbn].availability=True
        else:
            print("Error check membership/book id/book status")

In [ ]:
# Menu-driven script
library = Library()
while True:
    print("\nLibrary Management System")
    print("1. Add Book")
    print("2. Add Member")
    print("3. List Books")
    print("4. Issue Book")
    print("5. Return Book")
    print("6. Exit")
    choice = input("Enter your choice: ")

    if choice == "1":
        title = input("Enter book title: ")
        author = input("Enter book author: ")
        isbn = input("Enter book ISBN: ")
        library.add_book(Book(title, author, isbn))
        print("Book added successfully!")
    elif choice == "2":
        name = input("Enter member name: ")
        member_id = input("Enter member ID: ")
        library.add_member(Member(name, member_id))
        print("Member added successfully!")
    elif choice == "3":
        library.list_books()
    elif choice == "4":
        member_id = input("Enter member ID: ")
        book_isbn = input("Enter book ISBN: ")
        library.issue(member_id, book_isbn)
    elif choice == "5":
        member_id = input("Enter member ID: ")
        book_isbn = input("Enter book ISBN: ")
        library.return_book(member_id, book_isbn)
    elif choice == "6":
        print("Exiting... Thank you!")
        break
    else:
        print("Invalid choice! Please try again.")

Library Management System
1. Add Book
2. Add Member
3. List Books
4. Issue Book
5. Return Book
6. Exit
Enter your choice: 1
Enter book title: let us c
Enter book author: yashwant kanitkar
Enter book ISBN: 123
Book added successfully!

Library Management System
1. Add Book
2. Add Member
3. List Books
4. Issue Book
5. Return Book
6. Exit
Enter your choice: 1
Enter book title: java
Enter book author: balguruswami
Enter book ISBN: 234
Book added successfully!

Library Management System
1. Add Book
2. Add Member
3. List Books
4. Issue Book
5. Return Book
6. Exit
Enter your choice: 3
Books.........

ISBN:123	Title:let us c	Author:yashwant kanitkar	Status:Available

ISBN:234	Title:java	Author:balguruswami	Status:Available

Library Management System
1. Add Book
2. Add Member
3. List Books
4. Issue Book
5. Return Book
6. Exit
Enter your choice: 2
Enter member name: amar
Enter member ID: 1
Member added successfully!

Library Management System
1. Add Book
2. Add Member
3. List Books
4. Issue Book
5. Return Book
6. Exit
Enter your choice: 2
Enter member name: amit
Enter member ID: 2
Member added successfully!

Library Management System
1. Add Book
2. Add Member
3. List Books
4. Issue Book
5. Return Book
6. Exit
Enter your choice: 4
Enter member ID: 1
Enter book ISBN: 123

Library Management System
1. Add Book
2. Add Member
3. List Books
4. Issue Book
5. Return Book
6. Exit
Enter your choice: 3
Books.........

ISBN:123	Title:let us c	Author:yashwant kanitkar	Status:Issued

ISBN:234	Title:java	Author:balguruswami	Status:Available

Library Management System
1. Add Book
2. Add Member
3. List Books
4. Issue Book
5. Return Book
6. Exit
Enter your choice: 4
Enter member ID: 2
Enter book ISBN: 123
Error check membership/book id/book status

Library Management System
1. Add Book
2. Add Member
3. List Books
4. Issue Book
5. Return Book
6. Exit
Enter your choice: 99
Invalid choice! Please try again.

Library Management System
1. Add Book
2. Add Member
3. List Books
4. Issue Book
5. Return Book
6. Exit
Enter your choice: 6
Exiting... Thank you!

In [ ]:
library_obj=Library()
b1=Book("let us C","Yashwant kanitkar",1234)
b2=Book("let us java","Tanenbaum",2345)
library_obj.add_book(b1)
library_obj.add_book(b2)

In [ ]:
m1=Member("amar",202501)
m2=Member("amarita",202502)
library_obj.add_member(m1)
library_obj.add_member(m2)

In [ ]:
library_obj.list_books()

Books.........

ISBN:1234	Title:let us C	Author:Yashwant kanitkar	Status:Available

ISBN:2345	Title:let us java	Author:Tanenbaum	Status:Available

In [ ]:
library_obj.issue(202501,1234)

In [ ]:
library_obj.return_book(202501,1234)

In [ ]:
Info:
Inventory Management System (Using OOP in Python)
Problem Statement:
Design an Inventory Management System using Object-Oriented Programming (OOP) concepts in Python. The system should:

Add products to the inventory with attributes like product ID, name, quantity, and price.
Update product details, such as modifying the quantity or price.
Remove products from the inventory.
Display current inventory status, showing all products with their details.
Classes and Their Responsibilities:
Product: Represents individual products with attributes like product ID, name, quantity, and price.
Inventory: Manages a collection of products, providing methods to add, update, remove, and display products.

**============================================================================================================**

# Day eight  ,  reg ex

**==========================================================================================================**

In [ ]:
Files:
    used for permanent storage
    process:
        open---->operate(r/w/a)---->close(makes changes permanent)

    open:
    file_ref=open("full_path","mode")
    r:read only
        (file should exists)
    w:write only
        (file would be created if not there else overwrite)
    a:append only
        (file would be created if not there else data added at end)
    r+:read and write(append to file from start of file)
    w+:write and read(current data that is written can be read)
    a+:read and write(append to file from end)
    b:binary for none-text file
    (br,bw,ba,br+,bw+,ba+)
    x:create file iff not already there else gives exception

    read:
    .read():all in one shot
    .read(size):only given size is read at a time
    .readline():one line at a time
    .readlines():n lines at a time

    write(data)
    write("message")

    close():needed to make changes permanent

In [ ]:
file=open("myfile.txt","w")
line=input("Enter data in file:")
file.write(line)
file.close()

Enter data in file:asdf dfghj werty asdfgh tyu

In [ ]:
file=open("myfile.txt","w")
line=input("Enter data in file:")
file.write(line)
file.close()

Enter data in file:qqqq qqq www eee

In [ ]:
file=open("myfile2.txt","x")
line=input("Enter data in file:")
file.write(line)
file.close()

FileExistsError: [Errno 17] File exists: 'myfile2.txt'

In [ ]:
#ask user his/her name create file <name>.txt and then keep adding data to file till user gives first blank
user_name=input("Enter name:")
file=open(user_name+".txt","x")
while True:
    line=input("Enter data in file:")
    if line=="":
        file.close()
        print("data saved in file")
        break
    file.write(line)

Enter name:amar
Enter data in file:hi good morning
Enter data in file:2nd thing is to teach
Enter data in file:files going on
Enter data in file:
data saved in file

In [ ]:
user_name=input("Enter name:")
file=open(user_name+".txt","w")
while True:
    line=input("Enter data in file:")
    if line=="":
        file.close()
        print("data saved in file")
        break
    file.write(line+"\n")

Enter name:amar
Enter data in file:this is so much fun
Enter data in file:next line is this
Enter data in file:this is going to be important
Enter data in file:now lets see this
Enter data in file:
data saved in file

In [ ]:
user_name=input("Enter name:")
file=open(user_name+".txt","r")
data=file.read()
print(data)
file.close()

Enter name:amar
this is so much fun
next line is this
this is going to be important
now lets see this

In [ ]:
user_name=input("Enter name:")
file=open(user_name+".txt","r")
while True:
    data=file.readline()
    if data=="":
        print("---------EOF--------")
        break
    print("Line----:",data)
file.close()

Enter name:amar
Line----: this is so much fun

Line----: next line is this

Line----: this is going to be important

Line----: now lets see this

---------EOF--------

In [ ]:
user_name=input("Enter name:")
file=open(user_name+".txt","r")
while True:
    data=file.read(5)
    if data=="":
        print("---------EOF--------")
        break
    print("Line----:",data)
file.close()

Enter name:amar
Line----: this
Line----: is so
Line----:  much
Line----:  fun

Line----: next
Line----: line
Line----: is th
Line----: is
t
Line----: his i
Line----: s goi
Line----: ng to
Line----:  be i
Line----: mport
Line----: ant
n
Line----: ow le
Line----: ts se
Line----: e thi
Line----: s

---------EOF--------

In [ ]:
#Exception handling in files
#open always needs exception handingling
try:
    user_name=input("Enter name:")
    file=open(user_name+".txt","r")
#except shows error
except Exception as msg:
    print("Error:",msg)
else:#iff opened without error then only read/write
    while True:
        data=file.readline()
        if data=="":
            print("---------EOF--------")
            break
        print("Line----:",data)
#finally will close file
finally:
    file.close()

Enter name:aamar
Error: [Errno 2] No such file or directory: 'aamar.txt'

In [ ]:

file=open("test.txt","r+")
file.write("@@@@@@@@@")
file.close()

In [ ]:
file=open("test.txt","a+")
file.write("###############")
file.close()

In [ ]:
file=open("test.txt","w")
file.write("this is done")
file.close()

In [ ]:
file=open("test.txt","a+")
file.write("\nthis is done")
file.close()

In [ ]:
#combine
fr1=open("file1.txt","r")
fr2=open("file2.txt","r")
fw=open("file3.txt","w")
while True:
    read1=fr1.readline()
    if read1!="":
        fw.write(read1)

    read2=fr2.readline()
    if read2!="":
        fw.write(read2)

    if read1=="" and read2=="":
        print("both files copied")
        fw.close()
        fr1.close()
        fr2.close()
        break

both files copied

In [ ]:
#file_even.txt:has data from even lines only
#file_odd.txt:has data from odd lines only
file_even=open("file_even.txt","w")
file_odd=open("file_odd.txt","w")
file_source=open("file3.txt","r")
count=1
while True:
    line=file_source.readline()
    if line=="":
        file_even.close()
        file_odd.close()
        file_source.close()
        print("files separated and saved")
        break
    if count%2==1:
        file_odd.write(line)
    else:
        file_even.write(line)
    count+=1

files separated and saved

In [ ]:
with open("file3.txt","r") as file:
    print(file.read())
#open file with control scope when scope ends auto closes file

aaa
111
bbb
222
ccc
333
ddd
444
eee
fff
ggg
hhh
iii
jjj

In [ ]:
with open("file_new.txt","w") as file:
    while True:
        line=input("Enter data in file:")
        if line=="":
            print("data saved in file")
            break
        file.write(line)

#open file with control scope when scope ends auto closes file

Enter data in file:123456789
Enter data in file:qwertyuio
Enter data in file:asdfghjk
Enter data in file:zxcvbnm,
Enter data in file:
data saved in file

**================================================================================================**

# Day nine

**===============================================================================================**

In [ ]:
#from bs4  import Beautifulsoup

soup.find(): This method is used to find the first occurrence of a specified HTML tag in the BeautifulSoup object. You can search for tags based on their name, attributes, and text content.

soup.find_all(): This method is used to find all occurrences of a specified HTML tag in the BeautifulSoup object. You can search for tags based on their name, attributes, and text content.

soup.select(): This method is used to select HTML elements based on CSS selectors. You can use CSS selectors to select tags based on their attributes, class names, and parent-child relationships.

soup.get_text(): This method is used to extract the text content of an HTML document. It returns all the text in the document, including the text inside tags.

soup.prettify(): This method is used to format the HTML document in a human-readable way. It adds line breaks and indentation to the document to make it easier to read.

soup.contents: This method returns a list of all the direct child elements of an HTML tag. It can be used to iterate over the child elements of a tag and extract their contents.

soup.parent: This method returns the parent element of an HTML tag. It can be used to navigate up the HTML document and extract information from parent elements.

soup.next_sibling: This method returns the next sibling element of an HTML tag. It can be used to navigate to the next sibling element and extract information from it.

soup.previous_sibling: This method returns the previous sibling element of an HTML tag. It can be used to navigate to the previous sibling element and extract information from it.

In [ ]:
html_doc = """
<html>
<head>
<title>My Website</title>
</head>
<body>
<div id="content">
<h1>Welcome to my website!</h1>
<p>This is a paragraph of text.</p>
<a href="http://www.google.com">Google</a>
</div>
<div id="content2">
<h1>zingalala</h1>
</div>
</body>
</html>
"""

In [ ]:
from bs4 import BeautifulSoup
soup=BeautifulSoup(html_doc,'html.parser')
#connected page data to html parser and getting soup object
div_tags=soup.find_all('div')#list
for item in div_tags:#taken one item at a time
    #print(item.text)#item has.text
    print(item)
print("Only text")
for item in div_tags:#taken one item at a time
    print(item.text)#item has.text

<div id="content">
<h1>Welcome to my website!</h1>
<p>This is a paragraph of text.</p>
<a href="http://www.google.com">Google</a>
</div>
<div id="content2">
<h1>zingalala</h1>
</div>
Only text

Welcome to my website!
This is a paragraph of text.
Google


zingalala

In [ ]:
cities='''
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indian States and Cities</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 20px;
        }
        h2 {
            color: #007bff;
        }
    </style>
</head>
<body>
    <h1>List of Cities in Each State of India</h1>
    <ol>
        <li>
            <h2>Maharashtra</h2>
            <ol>
                <li>Mumbai</li>
                <li>Pune</li>
                <li>Nagpur</li>
                <li>Nashik</li>
                <li>Aurangabad</li>
            </ol>
        </li>
        <li>
            <h2>Karnataka</h2>
            <ol>
                <li>Bengaluru</li>
                <li>Mysuru</li>
                <li>Hubballi</li>
                <li>Mangaluru</li>
                <li>Belagavi</li>
            </ol>
        </li>
        <li>
            <h2>Tamil Nadu</h2>
            <ol>
                <li>Chennai</li>
                <li>Coimbatore</li>
                <li>Madurai</li>
                <li>Tiruchirappalli</li>
                <li>Salem</li>
            </ol>
        </li>
        <li>
            <h2>Uttar Pradesh</h2>
            <ol>
                <li>Lucknow</li>
                <li>Kanpur</li>
                <li>Varanasi</li>
                <li>Agra</li>
                <li>Meerut</li>
            </ol>
        </li>
        <li>
            <h2>West Bengal</h2>
            <ol>
                <li>Kolkata</li>
                <li>Howrah</li>
                <li>Darjeeling</li>
                <li>Asansol</li>
                <li>Siliguri</li>
            </ol>
        </li>
    </ol>
</body>
</html>
'''

In [ ]:
from bs4 import BeautifulSoup
soup=BeautifulSoup(cities,'html.parser')
h2_tags=soup.find_all('h2')#list
print(type(h2_tags))
h2_list=list(h2_tags)
print(h2_list)

h2_list_text=[]
for item in h2_tags:#taken one item at a time
    h2_list_text.append(item.text)#item has.text
print(h2_list_text)

<class 'bs4.element.ResultSet'>
[<h2>Maharashtra</h2>, <h2>Karnataka</h2>, <h2>Tamil Nadu</h2>, <h2>Uttar Pradesh</h2>, <h2>West Bengal</h2>]
['Maharashtra', 'Karnataka', 'Tamil Nadu', 'Uttar Pradesh', 'West Bengal']

In [ ]:
from bs4 import BeautifulSoup
soup=BeautifulSoup(cities,'html.parser')
count=0
li_tags=soup.find_all('li')#list
for li_tag in li_tags:
    h2_within=li_tag.find("h2")
    if h2_within:
        count+=1
        print(count,"State:",h2_within.text)
        li_within_tags=li_tag.find_all('li')
        print("total cities:",len(li_within_tags))
        for cities in li_within_tags:
            print("->",cities.text)

1 State: Maharashtra
total cities: 5
-> Mumbai
-> Pune
-> Nagpur
-> Nashik
-> Aurangabad
2 State: Karnataka
total cities: 5
-> Bengaluru
-> Mysuru
-> Hubballi
-> Mangaluru
-> Belagavi
3 State: Tamil Nadu
total cities: 5
-> Chennai
-> Coimbatore
-> Madurai
-> Tiruchirappalli
-> Salem
4 State: Uttar Pradesh
total cities: 5
-> Lucknow
-> Kanpur
-> Varanasi
-> Agra
-> Meerut
5 State: West Bengal
total cities: 5
-> Kolkata
-> Howrah
-> Darjeeling
-> Asansol
-> Siliguri

In [ ]:
#give count of total states and cities in each state and total of cities

**===========================================================================================**

# day 10  , problems

**===================================================================================================**

In [ ]:
Detect the Type of Triangle
Problem Statement:
Given three sides of a triangle, determine its type. The program should classify the triangle as one of the following:

Equilateral Triangle – All three sides are equal.
Isosceles Triangle – Exactly two sides are equal.
Scalene Triangle – All three sides are different.
Not a Triangle – The given sides do not satisfy the triangle inequality theorem:
a+b>c,b+c>a,a+c>b
Input:
Three integers or floating-point numbers representing the sides of a triangle.

Output:
A string indicating the type of triangle or stating that the sides do not form a valid triangle.

Example Cases:
Example 1: Equilateral Triangle
Input: 3, 3, 3
Output: "Equilateral Triangle"

Example 2: Isosceles Triangle
Input: 5, 5, 8
Output: "Isosceles Triangle"

Example 3: Scalene Triangle
Input: 4, 5, 6
Output: "Scalene Triangle"

Example 4: Not a Triangle
Input: 1, 2, 3
Output: "Not a Triangle"

In [ ]:
Happy Number
Problem Statement:
A number is called a Happy Number if, by repeatedly replacing the number with the sum of the squares of its digits, we eventually reach 1. If the process results in a loop that does not include 1, the number is considered unhappy (or sad).

Steps to Determine a Happy Number:
Take a number n and replace it with the sum of the squares of its digits.
Repeat the process until:
The number becomes 1 (in which case it is happy).
The number starts repeating (forming a cycle), meaning it will never reach 1 (in which case it is unhappy).
Input:
An integer n (where n > 0).

Output:
A boolean or string indicating whether the number is happy or not.

In [ ]:
def happy_or_not(no):
    no=str(no)
    sum=0
    for digit in no:
        sum+=int(digit)**2
    print(sum)
    if sum==1:
        return True
    elif sum<10:
        return False
    else:
        return happy_or_not(sum)

In [ ]:
if happy_or_not(82):
    print("Happy number")
else:
    print("Un-happy number")

68
100
1
Happy number

In [ ]:
#check number is part of fibonacci or not
#if so return true else false
#0 1 1 2 3 5 8 13.......
#input:8 True
#input:12 False
def fibo_part(no):
    f0,f1,=0,1
    if no==0 or no==1:
        return True
    while True:
        fn=f0+f1
        print("checking:",fn)
        if fn==no:
            return True
        elif fn>no:
            return False
        f0,f1=f1,fn

In [ ]:
fibo_part(7)

checking: 1
checking: 2
checking: 3
checking: 5
checking: 8

False

In [ ]:
'''
Python Lambda:function without any name/id
it is use a throw function
var=lambda <arg>: <operation>
'''
doubler=lambda a:a*2
multi=lambda a,b:a*b

In [ ]:
doubler(3.134)

6.268

In [ ]:
multi(10,20)

200

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
list2=[]
for fruit in fruits:
    if "a" in fruit:
        list2.append(fruit)

In [ ]:
print(list2)

['apple', 'banana', 'mango']

In [ ]:
[ expression for in <list/tuple/dict/set> codition]

In [ ]:
list_a=[fruit for fruit in fruits if "a" in fruit]

In [ ]:
list_a

['apple', 'banana', 'mango']

In [ ]:
list_1=[1,2,3,4,5,6,7,8,9]
list_even=[item for item in list_1 if item%2==0]
list_odd=[item for item in list_1 if item%2==1]

In [ ]:
list_1=[i for i in range(1,21,2)]

In [ ]:
list_1

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
the_list=[11,42,99,66,55,33,77,66,22,45,67]
#use minimum code to generate list with numbers < AVG
new_list=[i for i in the_list if i<sum(the_list)/len(the_list)]
print(new_list)

[11, 42, 33, 22, 45]

In [ ]:
#scalar mutiplication by n
#i*list[]
list1=[1,2,3,4,5,6]
n=int(input("Enter n:"))
list2=[i*n for i in list1]
#list1*2--->[2,4,6,8,10,12]
print(list2)

Enter n:2
[2, 4, 6, 8, 10, 12]

In [ ]:
list1=[1,2,3,4,5,6]
list2=[2,4,6,8,10,12]
#mutiply both
mutiplied_list=[a*b for a,b in zip(list1,list2)]

In [ ]:
mutiplied_list

[2, 8, 18, 32, 50, 72]

In [ ]:
indian_names = ["Aarav", "Vihaan", "Ishaan", "Kabir", "Advait",
                "Ananya", "Siya", "Myra", "Tanvi", "Riya"]
print([name.upper() for name in indian_names])

['AARAV', 'VIHAAN', 'ISHAAN', 'KABIR', 'ADVAIT', 'ANANYA', 'SIYA', 'MYRA', 'TANVI', 'RIYA']

In [ ]:
.join():ony works on string core type list/tuple/set/dict but iff they have string

In [ ]:
"seprator".join(sequence)

In [ ]:
list1=['a','m','a','r']
print("".join(list1))

amar

In [ ]:
set1={"hi","hukku","aa","bbb"}
print("".join(set1))

hukkubbbaahi

In [ ]:
dict1={"one":1,"two":2,"three":3}
print("-".join(dict1))#only keys

one-two-three

In [ ]:
list1=['a','m','a','r']
print("--------".join(list1))

a--------m--------a--------r

In [ ]:
list2=[1,2,3,4,5,6]
print("".join([str(item) for item in list2]))

123456

In [ ]:
#map(function,sequence)
#apply function on each item of sequence
s=['1','2','3','4']
s_int=list(map(int,s))
print(s_int)

[1, 2, 3, 4]

In [ ]:
def my_fun(data):
    return f"Accessed by my_fun:{data}"

'Accessed by my_fun:10'

In [ ]:
data=list(map(my_fun,s_int))
print(data)

['Accessed by my_fun:1', 'Accessed by my_fun:2', 'Accessed by my_fun:3', 'Accessed by my_fun:4']

In [ ]:
s_int

[1, 2, 3, 4]

In [ ]:
s_list2=list(map(lambda x:x*2,s_int))

In [ ]:
s_list2

[2, 4, 6, 8]

In [ ]:
l1=[1,2,3,4]
l2=[10,20,30,40]
adder=lambda a,b:a+b
print(adder(l1,l2))
print(list(map(lambda a,b:a+b,l1,l2)))

[1, 2, 3, 4, 10, 20, 30, 40]
[11, 22, 33, 44]

In [ ]:
#filter(function,sequence)
l1=[1,2,3,4,5,6,7,8,9,10]
#evaluate=lambda a:a%2==1
#evaluate(5)
l_even=list(filter(lambda a:a%2==0,l1))
print(l_even)

[2, 4, 6, 8, 10]