In [ ]:

#20 Python Coding Exercises Combining Data Structures

#Basic Exercises

In [ ]:
'''
1 Create a list of numbers and find the sum, average, maximum, and minimum values.
'''
listq = [1,2,3,4,5,6,7,8,9,10]

def math(x):
  print("Sum--", sum(x))
  print("Max--",max(x))
  print("Min--",min(x))
  avg = sum(x) / len(x)
  print("Avg--",avg)

print(math(listq))

Sum-- 55
Max-- 10
Min-- 1
Avg-- 5.5
None

In [ ]:
'''
2 Given a list of strings, create a dictionary where the keys are the strings and
 the values are their lengths.
'''
str_list = ['Given','a','list','of','strings','create','a','dictionary','where','the','keys','are','the','strings','and','the','values','are','their','lengths']

def str_dict(str_list):
  new_dict = { i : len(i) for i in str_list}
  return new_dict
print(str_dict(str_list))

{'Given': 5, 'a': 1, 'list': 4, 'of': 2, 'strings': 7, 'create': 6, 'dictionary': 10, 'where': 5, 'the': 3, 'keys': 4, 'are': 3, 'and': 3, 'values': 6, 'their': 5, 'lengths': 7}

In [ ]:
'''
3 Convert a list of tuples into a dictionary.
'''
students = [("Alice", 85), ("Bob", 90), ("Charlie", 80)]
def tup_dic(x):
  dict6 = {}
  for i in x:
    key = i[0]
    value = i[1]
    dict6[ key ] = value
  return dict6
print(tup_dic(students))

{'Alice': 85, 'Bob': 90, 'Charlie': 80}

In [ ]:
'''
4 Create a dictionary and find the keys and values separately.
'''
new_dict = {'Given': 5, 'a': 1, 'list': 4, 'of': 2, 'strings': 7, 'create': 6, 'dictionary': 10, 'where': 5, 'the': 3, 'keys': 4, 'are': 3, 'and': 3, 'values': 6, 'their': 5, 'lengths': 7}

def find(a,b):
  print(new_dict[a]
  empty = []
  for k,v in new_dict.items():
    if v == b :
      empty.append(k)
x = input("enter key so value could be found")
y = int(input("enter value so value could be found"))
print(find(x,y))

enter key so value could be found5
enter value so value could be found4

KeyError: '5'

In [ ]:
'''
4 Merge two dictionaries into one.
'''
dict1 = { 'Given': 5, 'a': 1, 'list': 4, 'of': 2 }
dict2 = { 'strings': 7, 'create': 6, 'dictionary': 10, 'where': 5, 'the': 3 }
dict3 = dict1 | dict2
print(dict3)

In [ ]:
# Intermediate Exercises

'''
6 Given a list of dictionaries, create a new list containing only the values
 of a specific key.
'''
students = [    {"name": "Alice", "age": 22, "grade": "A"},
               {"name": "Bob", "age": 23, "grade": "B"},
              {"name": "Charlie", "age": 21, "grade": "A"},
             {"name": "David", "age": 22, "grade": "C"}   ]


def stu(x):
  for student in students:
      print(student[x])

print(stu(input("enter")))

In [ ]:
'''
7 Create a dictionary where the keys are the first letters of words in a list and
 the values are lists of words starting with that letter.
'''

fruits = ["apple", "banana", "orange", "grapes", "mango",
          "strawberry", "watermelon", "pineapple", "cherry", "kiwi"]

def fru(x):
  fruit_dict = {i[0]:i for i in x}
  return fruit_dict
print(fru(fruits))

In [ ]:
''' 8
Sort a list of tuples based on the second element.
'''
fruits = [
    ("apple", 5),
    ("banana", 2),
    ("orange", 4),
    ("grapes", 1),
    ("mango", 3)
]

sor = sorted(fruits,key=lambda x : x[1])
print(sor)

In [ ]:
'''   9
Create a dictionary where the keys are numbers and the values are their squares.
 Use a list comprehension.
 '''
dict5 = {}
def square(n):
  dict5 = { i : i**2 for i in n }
  return dict5


o = [1,2,3,4,5,6,7,8,9,10]
print(square(o))

In [ ]:
'''  10
Find the most frequent element in a list.
'''
a = ['a','a','a','a','a','c','c','c','f','f','e','e']
def most_frequent(a):
  dict7 = {}
  for i in a:
    key = i
    value = a.count(i)
    dict7[key] = value
    maxi = max(dict7, key=dict7.get)
  return maxi
print(most_frequent(a))

In [ ]:
#Advanced Exercises

'''  11
Create a dictionary where the keys are words and the values are their counts in
 a given text.
'''
unique_words = [
    "apple", "banana", "cherry", "dragonfruit", "elderberry",
    "fig", "grape", "honeydew", "kiwi", "lemon", "mango",
    "nectarine", "orange", "papaya", "quince", "raspberry",
    "strawberry", "tangerine", "ugli", "vanilla", "watermelon",
    "xigua", "yam", "zucchini"
]

def word_count(a):
  dict6 = {}
  for i in a:
    key = i
    value = len(i)
    dict6[key] = value
  return dict6

print(word_count(unique_words))

In [ ]:
'''  12
Implement a simple text editor using dictionaries to store lines of text.

'''
sample_lines = ["The quick brown fox jumps over the lazy dog.",
                "Python is a powerful and versatile programming language.",
                "Data science and machine learning are transforming industries.",
                "Practice makes perfect keep coding every day!",
                "Artificial intelligence is shaping the future of technology.",
                "Debugging is like being the detective in a crime movie.",
                "Stay curious, keep learning, and never stop exploring!"]


def text_editor(a):
  dict_7 = {}
  while True:
    print('= = = =  WELCOME TO TEXT EDITOR  = = = =')
    print('  To edit text use thier assigned no.s  ')
    print(" 1 The quick brown fox jumps over the lazy dog.")
    print(" 2 Python is a powerful and versatile programming language.")
    print(" 3 Data science and machine learning are transforming industries.")
    print(" 4 Practice makes perfect keep coding every day!")
    print(" 5 Artificial intelligence is shaping the future of technology.")
    print(" 6 Debugging is like being the detective in a crime movie.")
    print(" 7 Stay curious, keep learning, and never stop exploring!")
    text_selected = int(input('Select text line no.'))

In [ ]:
'''   13
Create a function that takes a dictionary and returns a new dictionary with the
 keys and values swapped.
'''
dict_8 = {
    1: "Hello world.",
    2: "Python is fun.",
    3: "I love coding.",
    4: "Practice daily.",
    5: "Stay curious."
}

def swapped(a):
  dict_9 = {}
  for keys,value in a.items():
    dict_9[value] = keys
  return dict_9
print(swapped(dict_8))

In [ ]:

# 14 Given a dictionary, find the key with the longest value.

dict_8 = {
    1: "Hello world.",
    2: "Python is fun.",
    3: "I love coding.",
    4: "Practice daily.",
    5: "Stay curious."
}

def longest_value(a):
  return max(a,key=lambda x :len(a[x]))

print(longest_value(dict_8))

4

In [ ]:
'''   15
Implement a basic word search game using lists and dictionaries.

'''

In [ ]:

# List and Tuple Exercises

In [ ]:
'''   16
Create a list of tuples representing products with names and prices. Sort the
 list by price.
'''
items = [
    ("Banana", 20),
    ("Apple", 50),
    ("Cherry", 150),
    ("Dragonfruit", 300),
    ("Elderberry", 250),
    ("Fig", 80),
    ("Grapes", 90),
    ("Honeydew", 120),
    ("Kiwi", 200),
    ("Lemon", 30)
]

def sorted_prices(items):
  return sorted(items,key=lambda x :x[1])

print(sorted_prices(items))

[('Banana', 20), ('Lemon', 30), ('Apple', 50), ('Fig', 80), ('Grapes', 90), ('Honeydew', 120), ('Cherry', 150), ('Kiwi', 200), ('Elderberry', 250), ('Dragonfruit', 300)]

In [ ]:
'''    17
Given a list of tuples, create a new list containing only the first elements
 of each tuple.
'''
items = [
    ("Banana", 20),
    ("Apple", 50),
    ("Cherry", 150),
    ("Dragonfruit", 300),
    ("Elderberry", 250),
    ("Fig", 80),
    ("Grapes", 90),
    ("Honeydew", 120),
    ("Kiwi", 200),
    ("Lemon", 30)
]

def new_list(a):
  listz = []
  for i in a:
   listz.append(i[0])
  return listz
print(new_list(items))

['Banana', 'Apple', 'Cherry', 'Dragonfruit', 'Elderberry', 'Fig', 'Grapes', 'Honeydew', 'Kiwi', 'Lemon']

In [ ]:
'''   18
Convert a list of lists into a list of tuples.

'''
products = [
    ["Apple", 50],
    ["Banana", 20],
    ["Cherry", 150],
    ["Dragonfruit", 300],
    ["Elderberry", 250],
    ["Fig", 80],
    ["Grapes", 90],
    ["Honeydew", 120],
    ["Kiwi", 200],
    ["Lemon", 30]
]

def lol_lot(a):
  list_tup = []
  for i in a:
    list_i_tup = (i[0],i[1])
    list_tup.append(list_i_tup)
  return list_tup
print(lol_lot(products))

[('Apple', 50), ('Banana', 20), ('Cherry', 150), ('Dragonfruit', 300), ('Elderberry', 250), ('Fig', 80), ('Grapes', 90), ('Honeydew', 120), ('Kiwi', 200), ('Lemon', 30)]

In [6]:
from functools import reduce
'''   19
Create a tuple of integers and find the product of all elements.

'''
numbers = (10, 20, 30, 40, 50)
def product_tup(q):
  product = 1
  for i in q:
    product *= i
  return product

print(product_tup(numbers))

12000000

In [8]:
'''  20  Given a list of tuples, create a dictionary where the keys are the first elements
 of the tuples and the values are the second elements.
 '''
items = [
    ("Banana", 20),
    ("Apple", 50),
    ("Cherry", 150),
    ("Dragonfruit", 300),
    ("Elderberry", 250),
    ("Fig", 80),
    ("Grapes", 90),
    ("Honeydew", 120),
    ("Kiwi", 200),
    ("Lemon", 30)
]
def tup_to_dic(a):
  dict_10 ={}
  for i in a:
    keys = i[0]
    values = i[1]
    dict_10[keys]  =  values
  return dict_10

print(tup_to_dic(items))

{'Banana': 20, 'Apple': 50, 'Cherry': 150, 'Dragonfruit': 300, 'Elderberry': 250, 'Fig': 80, 'Grapes': 90, 'Honeydew': 120, 'Kiwi': 200, 'Lemon': 30}